In [175]:
import pandas as pd
from IPython.display import display
import mysql.connector
import os
from dotenv import load_dotenv
import pymysql
from sqlalchemy import create_engine
import firebase_admin
from firebase_admin import credentials, storage
from datetime import datetime
from google.cloud import bigquery
import numpy as np
import mimetypes
from io import StringIO

In [176]:
load_dotenv()

True

In [177]:
print(os.getenv("GOOGLE_APPLICATION_CREDENTIALS"))

capstone-de2-3b8d363c4eab.json

# Extract Data

In [178]:
def ingestion(table):
    load_dotenv()
    connection = mysql.connector.connect(
        host=os.getenv('HOST'),
        user='root',
        password=os.getenv('PASSWORD'),
        database='capstone5'
    )
    query = f"SELECT * FROM {table}"  
    df = pd.read_sql(query, connection)
    connection.close()
    return df

In [179]:
# List of table names
tables = [
    'applications', 'articles', 'comments', 'donation_manual_comments',
    'donation_manuals', 'fundraising_categories', 'fundraisings',
    'likes_comments', 'organizations', 'testimoni_volunteers',
    'user_bookmark_fundraisings', 'user_bookmark_volunteer_vacancies',
    'volunteers', 'users', 'admins', 'like_donation_comments',
    'user_bookmark_articles', 'user_bookmark_articles'
]

# Ingest data for all tables
data_frame = [ingestion(table) for table in tables]

C:\Users\SINTA\AppData\Local\Temp\ipykernel_25280\4175512421.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)
C:\Users\SINTA\AppData\Local\Temp\ipykernel_25280\4175512421.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

# Load Raw Data To Firebase

In [180]:
def initialize_firebase():
    if not firebase_admin._apps:
        credentials_path = os.getenv('FIREBASE_CREDENTIALS_PATH')
        cred = credentials.Certificate(credentials_path)
        firebase_admin.initialize_app(cred)
        print("Firebase has been initialized")
    else:
        print("Firebase is already initialized")
    bucket_name = os.getenv('BUCKET_NAME')
    return storage.bucket(bucket_name)

In [181]:
def create_folder_in_bucket():
    bucket = initialize_firebase()
    current_date = datetime.now().strftime("%Y%m%d")
    folder_blob = bucket.blob(f"{current_date}/")
    folder_blob.upload_from_string('')
    print(f"Folder '{current_date}' created successfully.")
    return current_date

In [182]:
def upload_dataframes_to_firebase(data_frames):
    current_date = create_folder_in_bucket()
    bucket = initialize_firebase()
    
    for df, table_name in zip(data_frames, tables):
        # Convert dataframe to CSV string
        csv_str = df.to_csv(index=False)

        # Create the blob reference with folder name
        file_name_with_date = f"{table_name}_{current_date}.csv"
        file_path_in_bucket = f"{current_date}/{file_name_with_date}"
        file_ref = bucket.blob(file_path_in_bucket)
        
        # Upload CSV string to Firebase
        file_ref.upload_from_string(csv_str, content_type='text/csv')
        print(f"Dataframe {table_name} uploaded successfully as {file_name_with_date}!")

In [183]:
# Upload all dataframes to Firebase
upload_dataframes_to_firebase(data_frame)

Firebase is already initialized
Folder '20240623' created successfully.
Firebase is already initialized
Dataframe applications uploaded successfully as applications_20240623.csv!
Dataframe articles uploaded successfully as articles_20240623.csv!
Dataframe comments uploaded successfully as comments_20240623.csv!
Dataframe donation_manual_comments uploaded successfully as donation_manual_comments_20240623.csv!
Dataframe donation_manuals uploaded successfully as donation_manuals_20240623.csv!
Dataframe fundraising_categories uploaded successfully as fundraising_categories_20240623.csv!
Dataframe fundraisings uploaded successfully as fundraisings_20240623.csv!
Dataframe likes_comments uploaded successfully as likes_comments_20240623.csv!
Dataframe organizations uploaded successfully as organizations_20240623.csv!
Dataframe testimoni_volunteers uploaded successfully as testimoni_volunteers_20240623.csv!
Dataframe user_bookmark_fundraisings uploaded successfully as user_bookmark_fundraisings_20240623.csv!
Dataframe user_bookmark_volunteer_vacancies uploaded successfully as user_bookmark_volunteer_vacancies_20240623.csv!
Dataframe volunteers uploaded successfully as volunteers_20240623.csv!
Dataframe users uploaded successfully as users_20240623.csv!
Dataframe admins uploaded successfully as admins_20240623.csv!
Dataframe like_donation_comments uploaded successfully as like_donation_comments_20240623.csv!
Dataframe user_bookmark_articles uploaded successfully as user_bookmark_articles_20240623.csv!
Dataframe user_bookmark_articles uploaded successfully as user_bookmark_articles_20240623.csv!

# Transform

### Handle Missing Value & Duplicates

In [184]:
# Cek duplikat dan missing value

def cleaning_data(df):
    
    # cek duplikat
    duplicates = df[df.duplicated(subset=df.columns, keep=False)]
    if not duplicates.empty:
        print(f"Terdapat duplikat pada {df}")
        print(duplicates)
        df = df.drop_duplicates()
    else:
        print(f"Tidak ada data duplikat pada {df}")
        
    # Ubah tipe data
    columns_datetime = ['created_at', 'updated_at', 'deleted_at']
    for col in columns_datetime:
        if df[col].dtype != 'datetime64[ns]':
            df[col] = pd.to_datetime(df[col], format='%Y-%m-%d %H:%M:%S.%f', errors='coerce')
        df[col] = df[col].dt.strftime('%Y-%m-%d')
    

    # cek missing value
    missing_columns = [col for col in df.columns if col not in ['updated_at', 'deleted_at']]
    # df[missing_columns] = df[missing_columns].replace('', None)
    if df[missing_columns].isnull().any().any():
        print(f"Terdapat missing value dalam {df}")
        missing_sum = df[missing_columns].isnull().sum()
        print(missing_sum)
        
        columns_numeric = ['total_likes', 'amount', 'goal_amount', 'current_progress', 'is_verified', 'registered_volunteer']
        for col in missing_columns:
            if df[col].dtype != 'object' and df[col].dtype != 'datetime64[ns]' and col not in columns_numeric:
                df[col] = df[col].fillna(np.nan)
            elif col in columns_numeric :
                df[col] = df[col].fillna(0)
            elif df[col].dtype == 'datetime64[ns]':
                df[col] = df[col].fillna(pd.NaT)
            else:
                df[col] = df[col].fillna('Unknown')
    else :
        print(f"Tidak ada missing value dalam {df}")
        missing_sum = df[missing_columns].isnull().sum()
        print(missing_sum)
    return df

In [185]:
for df in data_frame :
    cleaning_data(df)

Tidak ada data duplikat pada       id              created_at              updated_at deleted_at  \
0      1 2024-06-07 13:08:19.244 2024-06-07 13:08:19.244       None
1      4 2024-06-08 13:08:19.244                     NaT       None
2      5 2024-06-08 13:08:19.244                     NaT       None
3      6 2024-06-08 13:08:19.244                     NaT       None
4      7 2024-06-08 13:08:19.244                     NaT       None
..   ...                     ...                     ...        ...
117  155 2024-06-16 13:08:19.244                     NaT       None
118  156 2024-06-16 13:08:19.244                     NaT       None
119  157 2024-06-16 13:08:19.244                     NaT       None
120  216 2024-06-22 19:15:56.339 2024-06-22 19:15:56.339       None
121  218 2024-06-22 19:17:37.926 2024-06-22 19:17:37.926       None

                                          ig_image_url  \
0    https://res.cloudinary.com/dvrhf8d9t/image/upl...
1    https://res.cloudinary.com/dvrhf8d9t/image/upl...
2    https://res.cloudinary.com/dvrhf8d9t/image/upl...
3    https://res.cloudinary.com/dvrhf8d9t/image/upl...
4    https://res.cloudinary.com/dvrhf8d9t/image/upl...
..                                                 ...
117  https://res.cloudinary.com/dvrhf8d9t/image/upl...
118  https://res.cloudinary.com/dvrhf8d9t/image/upl...
119  https://res.cloudinary.com/dvrhf8d9t/image/upl...
120  https://res.cloudinary.com/dvrhf8d9t/image/upl...
121  https://res.cloudinary.com/dvrhf8d9t/image/upl...

                                          yt_image_url  user_id  vacancy_id  \
0    https://res.cloudinary.com/dvrhf8d9t/image/upl...       54           3
1    https://res.cloudinary.com/dvrhf8d9t/image/upl...       54           1
2    https://res.cloudinary.com/dvrhf8d9t/image/upl...       55           1
3    https://res.cloudinary.com/dvrhf8d9t/image/upl...       56           1
4    https://res.cloudinary.com/dvrhf8d9t/image/upl...       58           1
..                                                 ...      ...         ...
117  https://res.cloudinary.com/dvrhf8d9t/image/upl...       76          30
118  https://res.cloudinary.com/dvrhf8d9t/image/upl...       77          30
119  https://res.cloudinary.com/dvrhf8d9t/image/upl...       78          30
120  https://res.cloudinary.com/dvrhf8d9t/image/upl...      127           4
121  https://res.cloudinary.com/dvrhf8d9t/image/upl...      127           6

           job                        reason            age
0    Mahasiswa  Ingin menambah produktivitas  21 - 25 Tahun
1    Mahasiswa  Ingin menambah produktivitas  21 - 25 Tahun
2    Mahasiswa        Ingin menambah relasi   21 - 25 Tahun
3    Mahasiswa           Ingin mengisi waktu  21 - 25 Tahun
4    Mahasiswa     Ingin menambah pengalaman  21 - 25 Tahun
..         ...                           ...            ...
117    Lainnya  Ingin menambah produktivitas     > 40 Tahun
118    Lainnya  Ingin menambah produktivitas     > 40 Tahun
119    Lainnya  Ingin menambah produktivitas     > 40 Tahun
120  Mahasiswa                          fixx  18 - 20 Tahun
121  Mahasiswa                       fiixxcw     > 40 Tahun

[122 rows x 11 columns]
Tidak ada missing value dalam       id  created_at  updated_at deleted_at  \
0      1  2024-06-07  2024-06-07        NaN
1      4  2024-06-08         NaN        NaN
2      5  2024-06-08         NaN        NaN
3      6  2024-06-08         NaN        NaN
4      7  2024-06-08         NaN        NaN
..   ...         ...         ...        ...
117  155  2024-06-16         NaN        NaN
118  156  2024-06-16         NaN        NaN
119  157  2024-06-16         NaN        NaN
120  216  2024-06-22  2024-06-22        NaN
121  218  2024-06-22  2024-06-22        NaN

                                          ig_image_url  \
0    https://res.cloudinary.com/dvrhf8d9t/image/upl...
1    https://res.cloudinary.com/dvrhf8d9t/image/upl...
2    https://res.cloudinary.com/dvrhf8d9t/image/upl...
3    https://res.cloudinary.com/dvrhf8d9t/image/upl...
4    https://res.cloudinary.com/dvrhf8d9t/image/upl...
..                                                 ...
117  https://res.cloudinary.com/dvrhf8d9t/image/upl...
118  https://res.cloudinary.com/dvrhf8d9t/image/upl...
119  https://res.cloudinary.com/dvrhf8d9t/image/upl...
120  https://res.cloudinary.com/dvrhf8d9t/image/upl...
121  https://res.cloudinary.com/dvrhf8d9t/image/upl...

                                          yt_image_url  user_id  vacancy_id  \
0    https://res.cloudinary.com/dvrhf8d9t/image/upl...       54           3
1    https://res.cloudinary.com/dvrhf8d9t/image/upl...       54           1
2    https://res.cloudinary.com/dvrhf8d9t/image/upl...       55           1
3    https://res.cloudinary.com/dvrhf8d9t/image/upl...       56           1
4    https://res.cloudinary.com/dvrhf8d9t/image/upl...       58           1
..                                                 ...      ...         ...
117  https://res.cloudinary.com/dvrhf8d9t/image/upl...       76          30
118  https://res.cloudinary.com/dvrhf8d9t/image/upl...       77          30
119  https://res.cloudinary.com/dvrhf8d9t/image/upl...       78          30
120  https://res.cloudinary.com/dvrhf8d9t/image/upl...      127           4
121  https://res.cloudinary.com/dvrhf8d9t/image/upl...      127           6

           job                        reason            age
0    Mahasiswa  Ingin menambah produktivitas  21 - 25 Tahun
1    Mahasiswa  Ingin menambah produktivitas  21 - 25 Tahun
2    Mahasiswa        Ingin menambah relasi   21 - 25 Tahun
3    Mahasiswa           Ingin mengisi waktu  21 - 25 Tahun
4    Mahasiswa     Ingin menambah pengalaman  21 - 25 Tahun
..         ...                           ...            ...
117    Lainnya  Ingin menambah produktivitas     > 40 Tahun
118    Lainnya  Ingin menambah produktivitas     > 40 Tahun
119    Lainnya  Ingin menambah produktivitas     > 40 Tahun
120  Mahasiswa                          fixx  18 - 20 Tahun
121  Mahasiswa                       fiixxcw     > 40 Tahun

[122 rows x 11 columns]
id              0
created_at      0
ig_image_url    0
yt_image_url    0
user_id         0
vacancy_id      0
job             0
reason          0
age             0
dtype: int64
Tidak ada data duplikat pada     id              created_at              updated_at  \
0    9 2024-06-08 02:20:32.150                     NaT
1   10 2024-06-08 02:20:32.150                     NaT
2   11 2024-06-08 02:20:32.150                     NaT
3   12 2024-06-08 02:20:32.150                     NaT
4   13 2024-06-08 02:20:32.150                     NaT
5   14 2024-06-08 02:20:32.150                     NaT
6   15 2024-06-08 02:20:32.150                     NaT
7   16 2024-06-08 02:20:32.150                     NaT
8   17 2024-06-08 02:20:32.150                     NaT
9   18 2024-06-08 02:20:32.150                     NaT
10  19 2024-06-08 02:20:32.150                     NaT
11  20 2024-06-08 02:20:32.150                     NaT
12  21 2024-06-08 02:20:32.150                     NaT
13  22 2024-06-08 02:20:32.150                     NaT
14  23 2024-06-08 02:20:32.150                     NaT
15  24 2024-06-08 02:20:32.150                     NaT
16  25 2024-06-08 02:20:32.150                     NaT
17  26 2024-06-08 02:20:32.150                     NaT
18  27 2024-06-08 02:20:32.150                     NaT
19  28 2024-06-08 02:20:32.150                     NaT
20  29 2024-06-08 02:20:32.150                     NaT
21  30 2024-06-08 02:20:32.150                     NaT
22  31 2024-06-08 02:20:32.150                     NaT
23  44 2024-06-14 12:29:28.789 2024-06-14 12:29:28.789

                deleted_at  admin_id  \
0                      NaT       1.0
1                      NaT       1.0
2                      NaT       1.0
3                      NaT       1.0
4                      NaT       1.0
5                      NaT       1.0
6                      NaT       1.0
7                      NaT       1.0
8                      NaT       1.0
9                      NaT       1.0
10                     NaT       1.0
11                     NaT       1.0
12                     NaT       1.0
13                     NaT       1.0
14                     NaT       1.0
15                     NaT       1.0
16                     NaT       1.0
17                     NaT       1.0
18                     NaT       1.0
19                     NaT       1.0
20                     NaT       1.0
21                     NaT       1.0
22                     NaT       1.0
23 2024-06-14 12:30:55.705       NaN

                                                title  \
0            Donasi untuk Korban Banjir di Aceh Utara
1                                   Peduli Kalibareng
2   Bantuan Korban Bencana Alam Di Sulawesi Barat ...
3                     Volunteer Kebersihan Lingkungan
4                 Voluntter Museum Nasional Indonesia
5   Mahasiswa PBI UIN Alauddin Jadi Volunteer di R...
6   Bencana Alam Banjir Bandang dan Tanah Longsor ...
7       Longsor ancam tujuh rumah warga di Temanggung
8   Banjir dan bencana beruntun di tengah cuaca ek...
9                     Bencana Banjir di Kota Semarang
10                       Gunung Marapi Sumbar Meletus
11     Volunteer Upgrading Skill untuk Pendamping UKM
12  Dompet Dhuafa Bersama DD Volunteer Ajak 200 An...
13                 DDV Sumbar Selenggarakan Voluntrip
14                                 Relawan Pendidikan
15                               Taman Bacaan Pelangi
16  Volunteer Sport Training Program dari Pacific ...
17                  Reading House Mobile By Volunteer
18      Ekspedisi Bakti Nusantara (EBN) Edisi Sumbawa
19                        Volunteering di Tanah Papua
20                           Volunteering di Entikong
21                                    Volunteer UPNVJ
22                             Bencana Banjir Bandang
23         Berapapun Donasinya Akan Sangat Bermanfaat

                                              content  \
0   Dosen bersama Himpunan Mahasiswa Akuntansi (Hi...
1   Dengan kordinasi yang baik, Bakti sosial yang ...
2   PT Insight Investments Management (Insight) di...
3   Lingkungan pasti akan selalu ada di sekitar ki...
4   Salah satu value yang kami kembangkan bersama ...
5   UIN Alauddin Online - Salah satu mahasiswa Pen...
6   pada Pukul 13.30 WITA terjadi Hujan Lebat di w...
7   Tanah longsor yang terjadi di Dusun Kedawung, ...
8   Sederet bencana alam yang melanda Indonesia di...
9   Banjir melumpuhkan Stasiun Tawang di Semarang,...
10  Gunung Marapi di Provinsi Sumatra Barat mengal...
11  Sekolah Relawan kembali mengajak teman-teman r...
12  Dompet Dhuafa bersama DDV (Dompet Dhuafa Volun...
13  Mengusung tema “Voluntrip Sehatkan Indonesia”,...
14  Relawan atau volunteer memang sering sekali ki...
15  Banyak hal yang bisa dilakukan untuk membantu ...
16  Pada tanggal 8 Januari 2020 belasan Mahasiswa ...
17  Salah satu yang melatar belakangi ide dalam ke...
18  Kegiatan EBN Edisi Sumbawa ini memiliki 3 pros...
19  Selama di Desa Sauwandarek, kami melaksanakan ...
20  Tanoto Foundation bersama yayasan beasiswa10.0...
21  Sepuluh volunteeryang terlibat dalam kegiatan ...
22  Banjir bandang ini juga membuat perjalanan ker...
23  Setiap donasi, berapapun jumlahnya, memiliki d...

                                            image_url
0   https://res.cloudinary.com/dvrhf8d9t/image/upl...
1   https://res.cloudinary.com/dvrhf8d9t/image/upl...
2   https://res.cloudinary.com/dvrhf8d9t/image/upl...
3   https://res.cloudinary.com/dvrhf8d9t/image/upl...
4   https://res.cloudinary.com/dvrhf8d9t/image/upl...
5   https://res.cloudinary.com/dvrhf8d9t/image/upl...
6   https://res.cloudinary.com/dvrhf8d9t/image/upl...
7   https://res.cloudinary.com/dvrhf8d9t/image/upl...
8   https://res.cloudinary.com/dvrhf8d9t/image/upl...
9   https://res.cloudinary.com/dvrhf8d9t/image/upl...
10  https://res.cloudinary.com/dvrhf8d9t/image/upl...
11  https://res.cloudinary.com/dvrhf8d9t/image/upl...
12  https://res.cloudinary.com/dvrhf8d9t/image/upl...
13  https://res.cloudinary.com/dvrhf8d9t/image/upl...
14  https://res.cloudinary.com/dvrhf8d9t/image/upl...
15  https://res.cloudinary.com/dvrhf8d9t/image/upl...
16  https://res.cloudinary.com/dvrhf8d9t/image/upl...
17  https://res.cloudinary.com/dvrhf8d9t/image/upl...
18  https://res.cloudinary.com/dvrhf8d9t/image/upl...
19  https://res.cloudinary.com/dvrhf8d9t/image/upl...
20  https://res.cloudinary.com/dvrhf8d9t/image/upl...
21  https://res.cloudinary.com/dvrhf8d9t/image/upl...
22  https://res.cloudinary.com/dvrhf8d9t/image/upl...
23  https://res.cloudinary.com/dvrhf8d9t/image/upl...
Terdapat missing value dalam     id  created_at  updated_at  deleted_at  admin_id  \
0    9  2024-06-08         NaN         NaN       1.0
1   10  2024-06-08         NaN         NaN       1.0
2   11  2024-06-08         NaN         NaN       1.0
3   12  2024-06-08         NaN         NaN       1.0
4   13  2024-06-08         NaN         NaN       1.0
5   14  2024-06-08         NaN         NaN       1.0
6   15  2024-06-08         NaN         NaN       1.0
7   16  2024-06-08         NaN         NaN       1.0
8   17  2024-06-08         NaN         NaN       1.0
9   18  2024-06-08         NaN         NaN       1.0
10  19  2024-06-08         NaN         NaN       1.0
11  20  2024-06-08         NaN         NaN       1.0
12  21  2024-06-08         NaN         NaN       1.0
13  22  2024-06-08         NaN         NaN       1.0
14  23  2024-06-08         NaN         NaN       1.0
15  24  2024-06-08         NaN         NaN       1.0
16  25  2024-06-08         NaN         NaN       1.0
17  26  2024-06-08         NaN         NaN       1.0
18  27  2024-06-08         NaN         NaN       1.0
19  28  2024-06-08         NaN         NaN       1.0
20  29  2024-06-08         NaN         NaN       1.0
21  30  2024-06-08         NaN         NaN       1.0
22  31  2024-06-08         NaN         NaN       1.0
23  44  2024-06-14  2024-06-14  2024-06-14       NaN

                                                title  \
0            Donasi untuk Korban Banjir di Aceh Utara
1                                   Peduli Kalibareng
2   Bantuan Korban Bencana Alam Di Sulawesi Barat ...
3                     Volunteer Kebersihan Lingkungan
4                 Voluntter Museum Nasional Indonesia
5   Mahasiswa PBI UIN Alauddin Jadi Volunteer di R...
6   Bencana Alam Banjir Bandang dan Tanah Longsor ...
7       Longsor ancam tujuh rumah warga di Temanggung
8   Banjir dan bencana beruntun di tengah cuaca ek...
9                     Bencana Banjir di Kota Semarang
10                       Gunung Marapi Sumbar Meletus
11     Volunteer Upgrading Skill untuk Pendamping UKM
12  Dompet Dhuafa Bersama DD Volunteer Ajak 200 An...
13                 DDV Sumbar Selenggarakan Voluntrip
14                                 Relawan Pendidikan
15                               Taman Bacaan Pelangi
16  Volunteer Sport Training Program dari Pacific ...
17                  Reading House Mobile By Volunteer
18      Ekspedisi Bakti Nusantara (EBN) Edisi Sumbawa
19                        Volunteering di Tanah Papua
20                           Volunteering di Entikong
21                                    Volunteer UPNVJ
22                             Bencana Banjir Bandang
23         Berapapun Donasinya Akan Sangat Bermanfaat

                                              content  \
0   Dosen bersama Himpunan Mahasiswa Akuntansi (Hi...
1   Dengan kordinasi yang baik, Bakti sosial yang ...
2   PT Insight Investments Management (Insight) di...
3   Lingkungan pasti akan selalu ada di sekitar ki...
4   Salah satu value yang kami kembangkan bersama ...
5   UIN Alauddin Online - Salah satu mahasiswa Pen...
6   pada Pukul 13.30 WITA terjadi Hujan Lebat di w...
7   Tanah longsor yang terjadi di Dusun Kedawung, ...
8   Sederet bencana alam yang melanda Indonesia di...
9   Banjir melumpuhkan Stasiun Tawang di Semarang,...
10  Gunung Marapi di Provinsi Sumatra Barat mengal...
11  Sekolah Relawan kembali mengajak teman-teman r...
12  Dompet Dhuafa bersama DDV (Dompet Dhuafa Volun...
13  Mengusung tema “Voluntrip Sehatkan Indonesia”,...
14  Relawan atau volunteer memang sering sekali ki...
15  Banyak hal yang bisa dilakukan untuk membantu ...
16  Pada tanggal 8 Januari 2020 belasan Mahasiswa ...
17  Salah satu yang melatar belakangi ide dalam ke...
18  Kegiatan EBN Edisi Sumbawa ini memiliki 3 pros...
19  Selama di Desa Sauwandarek, kami melaksanakan ...
20  Tanoto Foundation bersama yayasan beasiswa10.0...
21  Sepuluh volunteeryang terlibat dalam kegiatan ...
22  Banjir bandang ini juga membuat perjalanan ker...
23  Setiap donasi, berapapun jumlahnya, memiliki d...

                                            image_url
0   https://res.cloudinary.com/dvrhf8d9t/image/upl...
1   https://res.cloudinary.com/dvrhf8d9t/image/upl...
2   https://res.cloudinary.com/dvrhf8d9t/image/upl...
3   https://res.cloudinary.com/dvrhf8d9t/image/upl...
4   https://res.cloudinary.com/dvrhf8d9t/image/upl...
5   https://res.cloudinary.com/dvrhf8d9t/image/upl...
6   https://res.cloudinary.com/dvrhf8d9t/image/upl...
7   https://res.cloudinary.com/dvrhf8d9t/image/upl...
8   https://res.cloudinary.com/dvrhf8d9t/image/upl...
9   https://res.cloudinary.com/dvrhf8d9t/image/upl...
10  https://res.cloudinary.com/dvrhf8d9t/image/upl...
11  https://res.cloudinary.com/dvrhf8d9t/image/upl...
12  https://res.cloudinary.com/dvrhf8d9t/image/upl...
13  https://res.cloudinary.com/dvrhf8d9t/image/upl...
14  https://res.cloudinary.com/dvrhf8d9t/image/upl...
15  https://res.cloudinary.com/dvrhf8d9t/image/upl...
16  https://res.cloudinary.com/dvrhf8d9t/image/upl...
17  https://res.cloudinary.com/dvrhf8d9t/image/upl...
18  https://res.cloudinary.com/dvrhf8d9t/image/upl...
19  https://res.cloudinary.com/dvrhf8d9t/image/upl...
20  https://res.cloudinary.com/dvrhf8d9t/image/upl...
21  https://res.cloudinary.com/dvrhf8d9t/image/upl...
22  https://res.cloudinary.com/dvrhf8d9t/image/upl...
23  https://res.cloudinary.com/dvrhf8d9t/image/upl...
id            0
created_at    0
admin_id      1
title         0
content       0
image_url     0
dtype: int64
Tidak ada data duplikat pada     id              created_at              updated_at deleted_at  user_id  \
0    1 2024-06-09 05:57:01.302 2024-06-09 05:57:01.302       None       51
1    2 2024-06-09 13:20:06.191 2024-06-09 13:20:06.191       None       52
2    3 2024-06-12 16:32:37.968 2024-06-12 16:32:37.968       None       53
3    4 2024-06-13 09:26:14.007 2024-06-13 09:26:14.007       None       55
4    5 2024-06-13 13:22:49.881 2024-06-13 13:22:49.881       None       54
5    6 2024-06-13 14:07:23.428 2024-06-13 14:07:23.428       None       61
6    7 2024-06-13 14:09:55.937 2024-06-13 14:09:55.937       None       62
7    8 2024-06-13 14:10:53.258 2024-06-13 14:10:53.258       None       63
8    9 2024-06-13 14:13:49.073 2024-06-13 14:13:49.073       None       64
9   10 2024-06-13 14:14:04.614 2024-06-13 14:14:04.614       None       65
10  11 2024-06-13 14:16:00.762 2024-06-13 14:16:00.762       None       71
11  12 2024-06-13 14:16:13.928 2024-06-13 14:16:13.928       None       72
12  13 2024-06-13 14:17:19.256 2024-06-13 14:17:19.256       None       73
13  14 2024-06-13 14:17:32.567 2024-06-13 14:17:32.567       None       74
14  15 2024-06-13 14:20:31.310 2024-06-13 14:20:31.310       None       75
15  16 2024-06-13 14:22:07.857 2024-06-13 14:22:07.857       None       51
16  17 2024-06-14 08:49:44.919 2024-06-14 08:49:44.919       None       61
17  18 2024-06-14 12:30:16.281 2024-06-14 12:30:16.281       None       71
18  19 2024-06-14 17:29:29.159 2024-06-14 17:29:29.159       None       52
19  20 2024-06-15 12:36:23.559 2024-06-15 12:36:23.559       None       62
20  21 2024-06-15 14:27:12.206 2024-06-15 14:27:12.206       None       60
21  22 2024-06-16 15:17:07.774 2024-06-16 15:17:07.774       None       73
22  23 2024-06-16 15:17:21.614 2024-06-16 15:17:21.614       None       73

In [186]:
df_applications = data_frame[0]
df_articles = data_frame[1]
df_comments = data_frame[2]
# df_donation_manual_comments = data_frame[3]
df_donation_manuals = data_frame[4]
df_fundraising_categories = data_frame[5]
df_fundraisings = data_frame[6]
df_like_comments = data_frame[7]
df_organizations = data_frame[8]
df_testimoni_volunteers = data_frame[9]
df_user_bookmark_fundraisings = data_frame[10]
df_user_bookmark_volunteer_vacancies = data_frame[11]
df_volunteers = data_frame[12]
df_users = data_frame[13]
# df_admins = data_frame[14]
# df_like_donation_comments = data_frame[15]
df_user_bookmark_articles = data_frame[16]

In [187]:
df_applications

,id,created_at,updated_at,deleted_at,ig_image_url,yt_image_url,user_id,vacancy_id,job,reason,age
0,1,2024-06-07,2024-06-07,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,54,3,Mahasiswa,Ingin menambah produktivitas,21 - 25 Tahun
1,4,2024-06-08,NaN,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,54,1,Mahasiswa,Ingin menambah produktivitas,21 - 25 Tahun
2,5,2024-06-08,NaN,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,55,1,Mahasiswa,Ingin menambah relasi,21 - 25 Tahun
3,6,2024-06-08,NaN,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,56,1,Mahasiswa,Ingin mengisi waktu,21 - 25 Tahun
4,7,2024-06-08,NaN,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,58,1,Mahasiswa,Ingin menambah pengalaman,21 - 25 Tahun
...,...,...,...,...,...,...,...,...,...,...,...
117,155,2024-06-16,NaN,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,76,30,Lainnya,Ingin menambah produktivitas,> 40 Tahun
118,156,2024-06-16,NaN,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,77,30,Lainnya,Ingin menambah produktivitas,> 40 Tahun
119,157,2024-06-16,NaN,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,78,30,Lainnya,Ingin menambah produktivitas,> 40 Tahun
120,216,2024-06-22,2024-06-22,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,127,4,Mahasiswa,fixx,18 - 20 Tahun
121,218,2024-06-22,2024-06-22,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,127,6,Mahasiswa,fiixxcw,> 40 Tahun

### Tabel Fakta

##### 1. FactDonationTransaction

In [188]:
# Buat Struktur kolom fact_donation_transaction
columns = ['id', 'donation_id', 'fundraising_id', 'user_id', 'amount', 'goal_amount', 'fundraising_category_id', 'organization_id', 'created_at']
fact_donation = pd.DataFrame(columns=columns)

# mengambil data yang sukses di df_donation 
df_donation_success = df_donation_manuals.loc[df_donation_manuals['status'] == 'sukses']
df_donation_success = df_donation_success.reset_index(drop=True)

# mengisi data pada dari kolom df_donation
fact_donation['id'] = range(1, len(df_donation_success) + 1)
fact_donation['donation_id'] = df_donation_success['id']
fact_donation['fundraising_id'] = df_donation_success['fundraising_id']
fact_donation['user_id'] = df_donation_success['user_id']
fact_donation['amount'] = df_donation_success['amount']
fact_donation['created_at'] = df_donation_success['created_at']

# merge df_fundraising
df_merge_fact_fundraising = pd.merge(fact_donation, df_fundraisings, left_on='fundraising_id', right_on='id', how='left')
fact_donation['goal_amount'] = df_merge_fact_fundraising['goal_amount_y']
fact_donation['fundraising_category_id'] = df_merge_fact_fundraising['fundraising_category_id_y']
fact_donation['organization_id'] = df_merge_fact_fundraising['organization_id_y']

In [189]:
fact_donation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       101 non-null    int64
 1   donation_id              101 non-null    int64
 2   fundraising_id           101 non-null    int64
 3   user_id                  101 non-null    int64
 4   amount                   101 non-null    int64
 5   goal_amount              101 non-null    int64
 6   fundraising_category_id  101 non-null    int64
 7   organization_id          101 non-null    int64
 8   created_at               101 non-null    object
dtypes: int64(8), object(1)
memory usage: 7.2+ KB

##### 2. FactVolunteerApplications

In [190]:
# Buat Struktur kolom df_fact_volunteer_applications
columns = ['id', 'application_id', 'vacancy_id', 'user_id', 'organization_id', 'created_at']
fact_applications = pd.DataFrame(columns=columns)

# mengisi data pada dari kolom df_application
fact_applications['id'] = range(1, len(df_applications) + 1)
fact_applications['application_id'] = df_applications['id']
fact_applications['vacancy_id'] = df_applications['vacancy_id']
fact_applications['user_id'] = df_applications['user_id']
fact_applications['created_at'] = df_applications['created_at']

# merge df_fundraising
df_merge_fact_volunteer = pd.merge(fact_applications, df_volunteers, left_on='vacancy_id', right_on='id', how='left')
fact_applications['organization_id'] = df_merge_fact_volunteer['organization_id_y']

In [191]:
fact_applications.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               122 non-null    int64
 1   application_id   122 non-null    int64
 2   vacancy_id       122 non-null    int64
 3   user_id          122 non-null    int64
 4   organization_id  122 non-null    int64
 5   created_at       122 non-null    object
dtypes: int64(5), object(1)
memory usage: 5.8+ KB

##### 3. FactVolunteerTestimoni

In [192]:
# Buat Struktur kolom df_fact_volunteer_testimoni
columns = ['id', 'user_id', 'vacancy_id', 'testimoni_volunteer_id', 'rating', 'created_at']
fact_volunteer_testimoni = pd.DataFrame(columns=columns)

# mengisi data pada dari kolom df_application
fact_volunteer_testimoni['id'] = range(1, len(df_testimoni_volunteers) + 1)
fact_volunteer_testimoni['user_id'] = df_testimoni_volunteers['user_id']
fact_volunteer_testimoni['vacancy_id'] = df_testimoni_volunteers['vacancy_id']
fact_volunteer_testimoni['testimoni_volunteer_id'] = df_testimoni_volunteers['id']
fact_volunteer_testimoni['rating'] = df_testimoni_volunteers['rating']
fact_volunteer_testimoni['created_at'] = df_testimoni_volunteers['created_at']

##### 4. FactArticlePopular

In [193]:
# Buat Struktur kolom df_fact_articel_popular
columns = ['id', 'article_id', 'bookmark_id', 'user_id','comment_id', 'like_comment_id', 'created_at']
fact_article_popular = pd.DataFrame(columns=columns)

# mengisi data pada dari kolom df_comment
fact_article_popular['id'] = range(1, len(df_user_bookmark_articles) + 1)
fact_article_popular['article_id'] = df_user_bookmark_articles['article_id']
fact_article_popular['bookmark_id'] = df_user_bookmark_articles['id']
fact_article_popular['user_id'] = df_user_bookmark_articles['user_id']
fact_article_popular['comment_id'] = df_comments['id']
fact_article_popular['like_comment_id'] = df_like_comments['id']
fact_article_popular['created_at'] = df_user_bookmark_articles['created_at']

In [194]:
fact_article_popular

,id,article_id,bookmark_id,user_id,comment_id,like_comment_id,created_at
0,1,9,16,1,1.0,4,2024-06-06
1,2,21,17,60,2.0,5,2024-06-06
2,3,20,18,52,3.0,6,2024-06-06
3,4,30,19,53,4.0,7,2024-06-06
4,5,11,20,54,5.0,8,2024-06-06
5,6,10,21,60,6.0,9,2024-06-06
6,7,15,22,64,7.0,10,2024-06-07
7,8,25,23,72,8.0,11,2024-06-07
8,9,29,24,63,9.0,12,2024-06-07
9,10,16,25,86,10.0,13,2024-06-07
10,11,22,26,75,11.0,14,2024-06-07
11,12,23,27,66,12.0,15,2024-06-07
12,13,13,28,55,13.0,16,2024-06-07
13,14,26,29,79,14.0,17,2024-06-07
14,15,17,30,71,15.0,18,2024-06-07
15,16,28,31,70,16.0,19,2024-06-07
16,17,24,32,56,17.0,20,2024-06-07
17,18,31,33,80,18.0,21,2024-06-07
18,19,19,34,61,19.0,22,2024-06-07
19,20,14,35,83,20.0,23,2024-06-07
20,21,27,36,86,21.0,24,2024-06-07
21,22,18,37,78,22.0,25,2024-06-07
22,23,12,38,1,23.0,26,2024-06-07
23,24,10,40,76,24.0,27,2024-06-15
24,25,10,41,73,NaN,28,2024-06-15
25,26,10,42,73,NaN,29,2024-06-16
26,27,10,43,73,NaN,30,2024-06-16
27,28,10,44,73,NaN,31,2024-06-16
28,29,9,69,136,NaN,32,2024-06-21
29,30,10,74,137,NaN,33,2024-06-21
30,31,9,75,137,NaN,34,2024-06-21
31,32,9,80,133,NaN,35,2024-06-21
32,33,10,81,133,NaN,36,2024-06-21
33,34,10,89,133,NaN,37,2024-06-21
34,35,9,90,143,NaN,38,2024-06-21
35,36,9,93,141,NaN,39,2024-06-21
36,37,9,100,163,NaN,40,2024-06-22
37,38,9,101,165,NaN,41,2024-06-22
38,39,9,102,60,NaN,42,2024-06-22
39,40,9,103,60,NaN,43,2024-06-22
40,41,9,104,60,NaN,44,2024-06-22
41,42,9,112,60,NaN,45,2024-06-22
42,43,11,113,60,NaN,46,2024-06-22
43,44,13,114,60,NaN,47,2024-06-22
44,45,14,115,60,NaN,48,2024-06-22
45,46,9,116,127,NaN,49,2024-06-22
46,47,10,117,127,NaN,50,2024-06-22
47,48,9,118,127,NaN,51,2024-06-22
48,49,10,119,127,NaN,52,2024-06-22
49,50,9,120,127,NaN,53,2024-06-22
50,51,10,121,127,NaN,54,2024-06-22
51,52,11,122,127,NaN,55,2024-06-22
52,53,12,123,127,NaN,56,2024-06-22
53,54,13,124,127,NaN,57,2024-06-22

##### 5. FactBookmarkFundraising

In [195]:
fact_bookmark_fundraising = df_user_bookmark_fundraisings.drop(['deleted_at', 'updated_at'], axis=1)
fact_bookmark_fundraising = fact_bookmark_fundraising.rename(columns={'id':'bookmark_id'})
fact_bookmark_fundraising['id'] = range(1, len(fact_bookmark_fundraising) + 1)
fact_bookmark_fundraising.insert(0, 'id', fact_bookmark_fundraising.pop('id'))

##### 6. FactBookmarkVolunteerVacancies

In [196]:
fact_bookmark_volunteer_vacancies = df_user_bookmark_volunteer_vacancies.drop(['deleted_at', 'updated_at','volunteer_vacancy_id'], axis=1)
fact_bookmark_volunteer_vacancies = fact_bookmark_volunteer_vacancies.rename(columns={'id':'bookmark_id'})
fact_bookmark_volunteer_vacancies['id'] = range(1, len(fact_bookmark_volunteer_vacancies) + 1)
fact_bookmark_volunteer_vacancies.insert(0, 'id', fact_bookmark_volunteer_vacancies.pop('id'))

### Tabel Dimensi

In [197]:
dim_fundraisings = df_fundraisings.drop(['fundraising_category_id','organization_id','updated_at'], axis=1)
dim_fundraising_categories = df_fundraising_categories[['id','name','created_at']]
dim_donation_manual = df_donation_manuals.drop(['fundraising_id', 'user_id','updated_at'], axis=1)
dim_organization = df_organizations.drop(['updated_at'], axis= 1)
dim_user = df_users.drop(['updated_at'], axis=1)
dim_volunteer_applictaion = df_applications.drop(['user_id','vacancy_id','updated_at'], axis=1)
dim_volunteer_vacancies = df_volunteers.drop(['organization_id','updated_at'], axis=1)
dim_testimoni_volunteer = df_testimoni_volunteers.drop(['user_id','vacancy_id','updated_at'], axis=1)
dim_article = df_articles.drop(['updated_at'], axis = 1)
dim_bookmark_fundraising = df_user_bookmark_fundraisings.drop(['fundraising_id','user_id','updated_at'], axis=1)
dim_bookmark_volunter_vacancies = df_user_bookmark_volunteer_vacancies.drop(['volunteer_vacancies_id','user_id','updated_at'], axis=1)
dim_bookmark_article = df_user_bookmark_articles.drop(['deleted_at','updated_at'], axis=1)

dim_comments = df_comments.drop(['user_id','article_id','updated_at'], axis=1)
dim_like_comments = df_like_comments.drop(['user_id','comment_id', 'updated_at'], axis=1)

In [198]:
df_fact = [
    ('fact_applications', fact_applications),
    ('fact_article_popular', fact_article_popular),
    ('fact_bookmark_fundraising', fact_bookmark_fundraising),
    ('fact_bookmark_volunteer_vacancies', fact_bookmark_volunteer_vacancies),
    ('fact_donation', fact_donation),
    ('fact_volunteer_testimoni', fact_volunteer_testimoni)
]

df_dim = [
    ('dim_article', dim_article),
    ('dim_bookmark_fundraising', dim_bookmark_fundraising),
    ('dim_bookmark_volunter_vacancies', dim_bookmark_volunter_vacancies),
    ('dim_bookmark_article', dim_bookmark_article),
    ('dim_donation_manual', dim_donation_manual),
    ('dim_fundraising_categories', dim_fundraising_categories),
    ('dim_fundraisings', dim_fundraisings),
    ('dim_organization', dim_organization),
    ('dim_testimoni_volunteer', dim_testimoni_volunteer),
    ('dim_user', dim_user),
    ('dim_volunteer_application', dim_volunteer_applictaion),
    ('dim_volunteer_vacancies', dim_volunteer_vacancies),
    ('dim_comments', dim_comments),
    ('dim_like_comments', dim_like_comments)
]

# Load

### Load To DB Local

In [199]:
# def load_db_local(df, table_name):
#     connection = pymysql.connect(
#         host='localhost',
#         user='root',
#         password='',
#         port=int(os.getenv('port'))
#     )

#     cursor = connection.cursor()

#     cursor.execute('CREATE DATABASE IF NOT EXISTS peduli_pintar')
#     cursor.execute('USE peduli_pintar')

#     engine = create_engine('mysql+pymysql://root:@localhost:3307/peduli_pintar')
#     df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
#     connection.close()

In [200]:
# load_db_local(df_applications,'tes')

In [201]:
# # Load dimension tables
# for table_name, df in df_dim:
#     load_db_local(df, table_name)

# for table_name, df in df_fact:
#     load_db_local(df, table_name)

### Load To Bigquery

In [202]:
credentials_path = os.getenv("GOOGLE_APPLICATION_CREDENTIALS")
if credentials_path:
    os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = credentials_path
else:
    raise Exception("GOOGLE_APPLICATION_CREDENTIALS is not set in the .env file")

client = bigquery.Client()

dataset_id_fact = os.getenv("dataset_id_fact")
dataset_id_dim = os.getenv("dataset_id_dim")

In [203]:
def load_df_to_bigquery(dataset_id, table_name, df):
    # Create a BigQuery client
    client = bigquery.Client()

    # Convert DataFrame to CSV
    csv_buffer = StringIO()
    df.to_csv(csv_buffer, index=False)
    csv_buffer.seek(0)

    table_id = f"{dataset_id}.{table_name}"
    
    partition_by = bigquery.TimePartitioning(field="created_at")

    job_config = bigquery.LoadJobConfig(
        source_format=bigquery.SourceFormat.CSV,
        skip_leading_rows=1,
        autodetect=True,
        write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE,
        time_partitioning=partition_by
    )

    # Load CSV data from StringIO buffer
    job = client.load_table_from_file(csv_buffer, table_id, job_config=job_config)
    
    # Wait for the load job to complete
    job.result()

    # Get table information
    table = client.get_table(table_id)
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )

In [204]:
# Load fact tables
for table_name, df in df_fact:
    load_df_to_bigquery(dataset_id_fact, table_name, df)

# Load dimension tables
for table_name, df in df_dim:
    load_df_to_bigquery(dataset_id_dim, table_name, df)

Loaded 122 rows and 6 columns to peduli_pintar_fact.fact_applications
Loaded 54 rows and 7 columns to peduli_pintar_fact.fact_article_popular
Loaded 37 rows and 5 columns to peduli_pintar_fact.fact_bookmark_fundraising
Loaded 35 rows and 5 columns to peduli_pintar_fact.fact_bookmark_volunteer_vacancies
Loaded 101 rows and 9 columns to peduli_pintar_fact.fact_donation
Loaded 26 rows and 6 columns to peduli_pintar_fact.fact_volunteer_testimoni
Loaded 24 rows and 7 columns to peduli_pintar_dim.dim_article
Loaded 37 rows and 3 columns to peduli_pintar_dim.dim_bookmark_fundraising
Loaded 35 rows and 4 columns to peduli_pintar_dim.dim_bookmark_volunter_vacancies
Loaded 54 rows and 4 columns to peduli_pintar_dim.dim_bookmark_article
Loaded 172 rows and 6 columns to peduli_pintar_dim.dim_donation_manual
Loaded 4 rows and 3 columns to peduli_pintar_dim.dim_fundraising_categories
Loaded 34 rows and 11 columns to peduli_pintar_dim.dim_fundraisings
Loaded 13 rows and 12 columns to peduli_pintar_dim.dim_organization
Loaded 26 rows and 5 columns to peduli_pintar_dim.dim_testimoni_volunteer
Loaded 114 rows and 11 columns to peduli_pintar_dim.dim_user
Loaded 122 rows and 8 columns to peduli_pintar_dim.dim_volunteer_application
Loaded 20 rows and 14 columns to peduli_pintar_dim.dim_volunteer_vacancies
Loaded 24 rows and 5 columns to peduli_pintar_dim.dim_comments
Loaded 83 rows and 3 columns to peduli_pintar_dim.dim_like_comments