In [162]:
import pandas as pd
from IPython.display import display
import mysql.connector
import os
from dotenv import load_dotenv
import pymysql
from sqlalchemy import create_engine
import firebase_admin
from firebase_admin import credentials, storage
from datetime import datetime
from google.cloud import bigquery
import numpy as np
import mimetypes
from io import StringIO

In [163]:
load_dotenv()

True

In [164]:
print(os.getenv("GOOGLE_APPLICATION_CREDENTIALS"))

capstone-de2-3b8d363c4eab.json

# Extract Data

In [165]:
def ingestion(table):
    load_dotenv()
    connection = mysql.connector.connect(
        host=os.getenv('HOST'),
        user='root',
        password=os.getenv('PASSWORD'),
        database='capstone5'
    )
    query = f"SELECT * FROM {table}"  
    df = pd.read_sql(query, connection)
    connection.close()
    return df

In [166]:
# List of table names
tables = [
    'applications', 'articles', 'comments', 'donation_manual_comments',
    'donation_manuals', 'fundraising_categories', 'fundraisings',
    'likes_comments', 'organizations', 'testimoni_volunteers',
    'user_bookmark_fundraisings', 'user_bookmark_volunteer_vacancies',
    'volunteers', 'users', 'admins', 'like_donation_comments',
    'user_bookmark_articles', 'user_bookmark_articles'
]

# Ingest data for all tables
data_frame = [ingestion(table) for table in tables]

C:\Users\SINTA\AppData\Local\Temp\ipykernel_23304\4175512421.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)
C:\Users\SINTA\AppData\Local\Temp\ipykernel_23304\4175512421.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

# Load Raw Data To Firebase

In [167]:
def initialize_firebase():
    if not firebase_admin._apps:
        credentials_path = os.getenv('FIREBASE_CREDENTIALS_PATH')
        cred = credentials.Certificate(credentials_path)
        firebase_admin.initialize_app(cred)
        print("Firebase has been initialized")
    else:
        print("Firebase is already initialized")
    bucket_name = os.getenv('BUCKET_NAME')
    return storage.bucket(bucket_name)

In [168]:
def create_folder_in_bucket():
    bucket = initialize_firebase()
    current_date = datetime.now().strftime("%Y%m%d")
    folder_blob = bucket.blob(f"{current_date}/")
    folder_blob.upload_from_string('')
    print(f"Folder '{current_date}' created successfully.")
    return current_date

In [169]:
def upload_dataframes_to_firebase(data_frames):
    current_date = create_folder_in_bucket()
    bucket = initialize_firebase()
    
    for df, table_name in zip(data_frames, tables):
        # Convert dataframe to CSV string
        csv_str = df.to_csv(index=False)

        # Create the blob reference with folder name
        file_name_with_date = f"{table_name}_{current_date}.csv"
        file_path_in_bucket = f"{current_date}/{file_name_with_date}"
        file_ref = bucket.blob(file_path_in_bucket)
        
        # Upload CSV string to Firebase
        file_ref.upload_from_string(csv_str, content_type='text/csv')
        print(f"Dataframe {table_name} uploaded successfully as {file_name_with_date}!")

In [170]:
# Upload all dataframes to Firebase
upload_dataframes_to_firebase(data_frame)

Firebase is already initialized
Folder '20240621' created successfully.
Firebase is already initialized
Dataframe applications uploaded successfully as applications_20240621.csv!
Dataframe articles uploaded successfully as articles_20240621.csv!
Dataframe comments uploaded successfully as comments_20240621.csv!
Dataframe donation_manual_comments uploaded successfully as donation_manual_comments_20240621.csv!
Dataframe donation_manuals uploaded successfully as donation_manuals_20240621.csv!
Dataframe fundraising_categories uploaded successfully as fundraising_categories_20240621.csv!
Dataframe fundraisings uploaded successfully as fundraisings_20240621.csv!
Dataframe likes_comments uploaded successfully as likes_comments_20240621.csv!
Dataframe organizations uploaded successfully as organizations_20240621.csv!
Dataframe testimoni_volunteers uploaded successfully as testimoni_volunteers_20240621.csv!
Dataframe user_bookmark_fundraisings uploaded successfully as user_bookmark_fundraisings_20240621.csv!
Dataframe user_bookmark_volunteer_vacancies uploaded successfully as user_bookmark_volunteer_vacancies_20240621.csv!
Dataframe volunteers uploaded successfully as volunteers_20240621.csv!
Dataframe users uploaded successfully as users_20240621.csv!
Dataframe admins uploaded successfully as admins_20240621.csv!
Dataframe like_donation_comments uploaded successfully as like_donation_comments_20240621.csv!
Dataframe user_bookmark_articles uploaded successfully as user_bookmark_articles_20240621.csv!
Dataframe user_bookmark_articles uploaded successfully as user_bookmark_articles_20240621.csv!

# Transform

### Handle Missing Value & Duplicates

In [171]:
# Cek duplikat dan missing value

def cleaning_data(df):
    
    # cek duplikat
    duplicates = df[df.duplicated(subset=df.columns, keep=False)]
    if not duplicates.empty:
        print(f"Terdapat duplikat pada {df}")
        print(duplicates)
        df = df.drop_duplicates()
    else:
        print(f"Tidak ada data duplikat pada {df}")
        
    # Ubah tipe data
    columns_datetime = ['created_at', 'updated_at', 'deleted_at']
    for col in columns_datetime:
        if df[col].dtype != 'datetime64[ns]':
            df[col] = pd.to_datetime(df[col], format='%Y-%m-%d %H:%M:%S.%f', errors='coerce')
        df[col] = df[col].dt.strftime('%Y-%m-%d')
    

    # cek missing value
    missing_columns = [col for col in df.columns if col not in ['updated_at', 'deleted_at']]
    # df[missing_columns] = df[missing_columns].replace('', None)
    if df[missing_columns].isnull().any().any():
        print(f"Terdapat missing value dalam {df}")
        missing_sum = df[missing_columns].isnull().sum()
        print(missing_sum)
        
        columns_numeric = ['total_likes', 'amount', 'goal_amount', 'current_progress', 'is_verified', 'registered_volunteer']
        for col in missing_columns:
            if df[col].dtype != 'object' and df[col].dtype != 'datetime64[ns]' and col not in columns_numeric:
                df[col] = df[col].fillna(np.nan)
            elif col in columns_numeric :
                df[col] = df[col].fillna(0)
            elif df[col].dtype == 'datetime64[ns]':
                df[col] = df[col].fillna(pd.NaT)
            else:
                df[col] = df[col].fillna('Unknown')
    else :
        print(f"Tidak ada missing value dalam {df}")
        missing_sum = df[missing_columns].isnull().sum()
        print(missing_sum)
    return df

In [172]:
for df in data_frame :
    cleaning_data(df)

Tidak ada data duplikat pada       id              created_at              updated_at deleted_at  \
0      1 2024-06-07 13:08:19.244 2024-06-07 13:08:19.244       None
1      4 2024-06-08 13:08:19.244                     NaT       None
2      5 2024-06-08 13:08:19.244                     NaT       None
3      6 2024-06-08 13:08:19.244                     NaT       None
4      7 2024-06-08 13:08:19.244                     NaT       None
..   ...                     ...                     ...        ...
144  190 2024-06-19 15:29:56.881 2024-06-19 15:29:56.881       None
145  191 2024-06-19 15:34:24.573 2024-06-19 15:34:24.573       None
146  192 2024-06-19 16:22:30.107 2024-06-19 16:22:30.107       None
147  193 2024-06-19 19:13:35.111 2024-06-19 19:13:35.111       None
148  194 2024-06-20 06:20:52.239 2024-06-20 06:20:52.239       None

                                          ig_image_url  \
0    https://res.cloudinary.com/dvrhf8d9t/image/upl...
1    https://res.cloudinary.com/dvrhf8d9t/image/upl...
2    https://res.cloudinary.com/dvrhf8d9t/image/upl...
3    https://res.cloudinary.com/dvrhf8d9t/image/upl...
4    https://res.cloudinary.com/dvrhf8d9t/image/upl...
..                                                 ...
144  https://res.cloudinary.com/dvrhf8d9t/image/upl...
145  https://res.cloudinary.com/dvrhf8d9t/image/upl...
146  https://res.cloudinary.com/dvrhf8d9t/image/upl...
147  https://res.cloudinary.com/dvrhf8d9t/image/upl...
148  https://res.cloudinary.com/dvrhf8d9t/image/upl...

                                          yt_image_url  user_id  vacancy_id  \
0    https://res.cloudinary.com/dvrhf8d9t/image/upl...       54           3
1    https://res.cloudinary.com/dvrhf8d9t/image/upl...       54           1
2    https://res.cloudinary.com/dvrhf8d9t/image/upl...       55           1
3    https://res.cloudinary.com/dvrhf8d9t/image/upl...       56           1
4    https://res.cloudinary.com/dvrhf8d9t/image/upl...       58           1
..                                                 ...      ...         ...
144  https://res.cloudinary.com/dvrhf8d9t/image/upl...      127           3
145  https://res.cloudinary.com/dvrhf8d9t/image/upl...      128           4
146  https://res.cloudinary.com/dvrhf8d9t/image/upl...      127           6
147  https://res.cloudinary.com/dvrhf8d9t/image/upl...      121           3
148  https://res.cloudinary.com/dvrhf8d9t/image/upl...      131           3

                 job                        reason   age
0          Mahasiswa  Ingin menambah produktivitas  23.0
1          Mahasiswa  Ingin menambah produktivitas  21.0
2          Mahasiswa        Ingin menambah relasi    NaN
3          Mahasiswa           Ingin mengisi waktu   NaN
4          Mahasiswa     Ingin menambah pengalaman   NaN
..               ...                           ...   ...
144  Karyawan Swasta                         testt  23.0
145  Karyawan Swasta                         asdsa  19.0
146        Mahasiswa                          test  19.0
147        Mahasiswa                         fomo   19.0
148  Karyawan Swasta                  ini volunter  23.0

[149 rows x 11 columns]
Terdapat missing value dalam       id  created_at  updated_at deleted_at  \
0      1  2024-06-07  2024-06-07        NaN
1      4  2024-06-08         NaN        NaN
2      5  2024-06-08         NaN        NaN
3      6  2024-06-08         NaN        NaN
4      7  2024-06-08         NaN        NaN
..   ...         ...         ...        ...
144  190  2024-06-19  2024-06-19        NaN
145  191  2024-06-19  2024-06-19        NaN
146  192  2024-06-19  2024-06-19        NaN
147  193  2024-06-19  2024-06-19        NaN
148  194  2024-06-20  2024-06-20        NaN

                                          ig_image_url  \
0    https://res.cloudinary.com/dvrhf8d9t/image/upl...
1    https://res.cloudinary.com/dvrhf8d9t/image/upl...
2    https://res.cloudinary.com/dvrhf8d9t/image/upl...
3    https://res.cloudinary.com/dvrhf8d9t/image/upl...
4    https://res.cloudinary.com/dvrhf8d9t/image/upl...
..                                                 ...
144  https://res.cloudinary.com/dvrhf8d9t/image/upl...
145  https://res.cloudinary.com/dvrhf8d9t/image/upl...
146  https://res.cloudinary.com/dvrhf8d9t/image/upl...
147  https://res.cloudinary.com/dvrhf8d9t/image/upl...
148  https://res.cloudinary.com/dvrhf8d9t/image/upl...

                                          yt_image_url  user_id  vacancy_id  \
0    https://res.cloudinary.com/dvrhf8d9t/image/upl...       54           3
1    https://res.cloudinary.com/dvrhf8d9t/image/upl...       54           1
2    https://res.cloudinary.com/dvrhf8d9t/image/upl...       55           1
3    https://res.cloudinary.com/dvrhf8d9t/image/upl...       56           1
4    https://res.cloudinary.com/dvrhf8d9t/image/upl...       58           1
..                                                 ...      ...         ...
144  https://res.cloudinary.com/dvrhf8d9t/image/upl...      127           3
145  https://res.cloudinary.com/dvrhf8d9t/image/upl...      128           4
146  https://res.cloudinary.com/dvrhf8d9t/image/upl...      127           6
147  https://res.cloudinary.com/dvrhf8d9t/image/upl...      121           3
148  https://res.cloudinary.com/dvrhf8d9t/image/upl...      131           3

                 job                        reason   age
0          Mahasiswa  Ingin menambah produktivitas  23.0
1          Mahasiswa  Ingin menambah produktivitas  21.0
2          Mahasiswa        Ingin menambah relasi    NaN
3          Mahasiswa           Ingin mengisi waktu   NaN
4          Mahasiswa     Ingin menambah pengalaman   NaN
..               ...                           ...   ...
144  Karyawan Swasta                         testt  23.0
145  Karyawan Swasta                         asdsa  19.0
146        Mahasiswa                          test  19.0
147        Mahasiswa                         fomo   19.0
148  Karyawan Swasta                  ini volunter  23.0

[149 rows x 11 columns]
id                0
created_at        0
ig_image_url      0
yt_image_url      0
user_id           0
vacancy_id        0
job               0
reason            0
age             123
dtype: int64
Tidak ada data duplikat pada     id              created_at              updated_at  \
0    9 2024-06-08 02:20:32.150                     NaT
1   10 2024-06-08 02:20:32.150                     NaT
2   11 2024-06-08 02:20:32.150                     NaT
3   12 2024-06-08 02:20:32.150                     NaT
4   13 2024-06-08 02:20:32.150                     NaT
5   14 2024-06-08 02:20:32.150                     NaT
6   15 2024-06-08 02:20:32.150                     NaT
7   16 2024-06-08 02:20:32.150                     NaT
8   17 2024-06-08 02:20:32.150                     NaT
9   18 2024-06-08 02:20:32.150                     NaT
10  19 2024-06-08 02:20:32.150                     NaT
11  20 2024-06-08 02:20:32.150                     NaT
12  21 2024-06-08 02:20:32.150                     NaT
13  22 2024-06-08 02:20:32.150                     NaT
14  23 2024-06-08 02:20:32.150                     NaT
15  24 2024-06-08 02:20:32.150                     NaT
16  25 2024-06-08 02:20:32.150                     NaT
17  26 2024-06-08 02:20:32.150                     NaT
18  27 2024-06-08 02:20:32.150                     NaT
19  28 2024-06-08 02:20:32.150                     NaT
20  29 2024-06-08 02:20:32.150                     NaT
21  30 2024-06-08 02:20:32.150                     NaT
22  31 2024-06-08 02:20:32.150                     NaT
23  32 2024-06-09 04:31:31.533 2024-06-09 04:33:33.165
24  33 2024-06-12 10:45:42.138 2024-06-12 10:45:42.138
25  34 2024-06-12 11:01:34.595 2024-06-12 11:01:34.595
26  35 2024-06-12 11:26:37.507 2024-06-12 11:26:37.507
27  36 2024-06-12 11:42:36.195 2024-06-12 11:59:04.486
28  37 2024-06-12 11:59:58.972 2024-06-13 02:54:40.841
29  38 2024-06-12 13:13:11.026 2024-06-12 13:13:40.533
30  39 2024-06-12 13:15:24.680 2024-06-12 13:15:24.680
31  40 2024-06-13 01:12:54.969 2024-06-13 01:12:54.969
32  41 2024-06-13 01:17:03.332 2024-06-13 01:17:03.332
33  42 2024-06-13 01:39:13.598 2024-06-13 01:48:30.424
34  43 2024-06-13 02:51:39.640 2024-06-13 02:51:39.640
35  44 2024-06-14 12:29:28.789 2024-06-14 12:29:28.789
36  45 2024-06-16 01:24:34.173 2024-06-16 01:24:34.173
37  46 2024-06-19 05:59:30.899 2024-06-19 05:59:30.899
38  47 2024-06-19 05:59:31.758 2024-06-19 05:59:31.758
39  48 2024-06-19 05:59:32.110 2024-06-19 05:59:32.110
40  49 2024-06-19 06:04:15.392 2024-06-19 06:04:15.392
41  50 2024-06-19 06:12:16.560 2024-06-19 06:12:16.560
42  51 2024-06-19 06:12:17.352 2024-06-19 06:12:17.352

                deleted_at  admin_id  \
0                      NaT       1.0
1                      NaT       1.0
2                      NaT       1.0
3                      NaT       1.0
4                      NaT       1.0
5                      NaT       1.0
6                      NaT       1.0
7                      NaT       1.0
8                      NaT       1.0
9                      NaT       1.0
10                     NaT       1.0
11                     NaT       1.0
12                     NaT       1.0
13                     NaT       1.0
14                     NaT       1.0
15                     NaT       1.0
16                     NaT       1.0
17                     NaT       1.0
18                     NaT       1.0
19                     NaT       1.0
20                     NaT       1.0
21                     NaT       1.0
22                     NaT       1.0
23 2024-06-11 02:33:45.874       NaN
24 2024-06-12 11:26:55.694       NaN
25                     NaT       NaN
26 2024-06-12 11:42:17.195       NaN
27 2024-06-12 11:59:24.835       NaN
28                     NaT       NaN
29 2024-06-12 13:14:51.158       NaN
30 2024-06-12 13:15:38.060       NaN
31 2024-06-13 01:16:43.279       NaN
32 2024-06-13 01:17:15.208       NaN
33 2024-06-13 02:09:33.469       NaN
34 2024-06-13 02:53:39.840       NaN
35 2024-06-14 12:30:55.705       NaN
36                     NaT       NaN
37                     NaT       NaN
38                     NaT       NaN
39                     NaT       NaN
40                     NaT       NaN
41                     NaT       NaN
42                     NaT       NaN

                                                title  \
0            Donasi untuk Korban Banjir di Aceh Utara
1                                   Peduli Kalibareng
2   Bantuan Korban Bencana Alam Di Sulawesi Barat ...
3                     Volunteer Kebersihan Lingkungan
4                 Voluntter Museum Nasional Indonesia
5   Mahasiswa PBI UIN Alauddin Jadi Volunteer di R...
6   Bencana Alam Banjir Bandang dan Tanah Longsor ...
7       Longsor ancam tujuh rumah warga di Temanggung
8   Banjir dan bencana beruntun di tengah cuaca ek...
9                     Bencana Banjir di Kota Semarang
10                       Gunung Marapi Sumbar Meletus
11     Volunteer Upgrading Skill untuk Pendamping UKM
12  Dompet Dhuafa Bersama DD Volunteer Ajak 200 An...
13                 DDV Sumbar Selenggarakan Voluntrip
14                                 Relawan Pendidikan
15                               Taman Bacaan Pelangi
16  Volunteer Sport Training Program dari Pacific ...
17                  Reading House Mobile By Volunteer
18      Ekspedisi Bakti Nusantara (EBN) Edisi Sumbawa
19                        Volunteering di Tanah Papua
20                           Volunteering di Entikong
21                                    Volunteer UPNVJ
22                             Bencana Banjir Bandang
23                                            Test123
24                                               aaaa
25                                               Test
26                                              haiii
27                                               aaaa
28                                             halloo
29                                                 hi
30                                                hmm
31                                             haloww
32                                              testt
33                                           haloohhh
34                                      peduli pintar
35                                               Test
36                                            Test123
37                                               kaha
38                                               kaha
39                                               kaha
40  wow 5 pemuda ini sangat aktif dalam kegiatan k...
41                                               test
42                                               test

                                              content  \
0   Dosen bersama Himpunan Mahasiswa Akuntansi (Hi...
1   Dengan kordinasi yang baik, Bakti sosial yang ...
2   PT Insight Investments Management (Insight) di...
3   Lingkungan pasti akan selalu ada di sekitar ki...
4   Salah satu value yang kami kembangkan bersama ...
5   UIN Alauddin Online - Salah satu mahasiswa Pen...
6   pada Pukul 13.30 WITA terjadi Hujan Lebat di w...
7   Tanah longsor yang terjadi di Dusun Kedawung, ...
8   Sederet bencana alam yang melanda Indonesia di...
9   Banjir melumpuhkan Stasiun Tawang di Semarang,...
10  Gunung Marapi di Provinsi Sumatra Barat mengal...
11  Sekolah Relawan kembali mengajak teman-teman r...
12  Dompet Dhuafa bersama DDV (Dompet Dhuafa Volun...
13  Mengusung tema “Voluntrip Sehatkan Indonesia”,...
14  Relawan atau volunteer memang sering sekali ki...
15  Banyak hal yang bisa dilakukan untuk membantu ...
16  Pada tanggal 8 Januari 2020 belasan Mahasiswa ...
17  Salah satu yang melatar belakangi ide dalam ke...
18  Kegiatan EBN Edisi Sumbawa ini memiliki 3 pros...
19  Selama di Desa Sauwandarek, kami melaksanakan ...
20  Tanoto Foundation bersama yayasan beasiswa10.0...
21  Sepuluh volunteeryang terlibat dalam kegiatan ...
22  Banjir bandang ini juga membuat perjalanan ker...
23                                               test
24                                             aaaaaa
25                                               test
26                                             haiiii
27                                               aaaa
28                                           haiiiiii
29                                                 hi
30                                                hmm
31                                 haiiiiiiiiiiiiiiii
32                                              tesst
33                                               hhhh
34                                  peduli pintarrrrr
35                                               test
36                                               test
37                                             sksknw
38                                             sksknw
39                                             sksknw
40  5 pemuda di yogykarta sangat aktif dalam kegia...
41                                          test yuhu
42                                          test yuhu

                                            image_url
0   https://res.cloudinary.com/dvrhf8d9t/image/upl...
1   https://res.cloudinary.com/dvrhf8d9t/image/upl...
2   https://res.cloudinary.com/dvrhf8d9t/image/upl...
3   https://res.cloudinary.com/dvrhf8d9t/image/upl...
4   https://res.cloudinary.com/dvrhf8d9t/image/upl...
5   https://res.cloudinary.com/dvrhf8d9t/image/upl...
6   https://res.cloudinary.com/dvrhf8d9t/image/upl...
7   https://res.cloudinary.com/dvrhf8d9t/image/upl...
8   https://res.cloudinary.com/dvrhf8d9t/image/upl...
9   https://res.cloudinary.com/dvrhf8d9t/image/upl...
10  https://res.cloudinary.com/dvrhf8d9t/image/upl...
11  https://res.cloudinary.com/dvrhf8d9t/image/upl...
12  https://res.cloudinary.com/dvrhf8d9t/image/upl...
13  https://res.cloudinary.com/dvrhf8d9t/image/upl...
14  https://res.cloudinary.com/dvrhf8d9t/image/upl...
15  https://res.cloudinary.com/dvrhf8d9t/image/upl...
16  https://res.cloudinary.com/dvrhf8d9t/image/upl...
17  https://res.cloudinary.com/dvrhf8d9t/image/upl...
18  https://res.cloudinary.com/dvrhf8d9t/image/upl...
19  https://res.cloudinary.com/dvrhf8d9t/image/upl...
20  https://res.cloudinary.com/dvrhf8d9t/image/upl...
21  https://res.cloudinary.com/dvrhf8d9t/image/upl...
22  https://res.cloudinary.com/dvrhf8d9t/image/upl...
23  https://res.cloudinary.com/dvrhf8d9t/image/upl...
24  https://res.cloudinary.com/dvrhf8d9t/image/upl...
25  https://res.cloudinary.com/dvrhf8d9t/image/upl...
26  https://res.cloudinary.com/dvrhf8d9t/image/upl...
27  https://res.cloudinary.com/dvrhf8d9t/image/upl...
28  https://res.cloudinary.com/dvrhf8d9t/image/upl...
29  https://res.cloudinary.com/dvrhf8d9t/image/upl...
30  https://res.cloudinary.com/dvrhf8d9t/image/upl...
31  https://res.cloudinary.com/dvrhf8d9t/image/upl...
32  https://res.cloudinary.com/dvrhf8d9t/image/upl...
33  https://res.cloudinary.com/dvrhf8d9t/image/upl...
34  https://res.cloudinary.com/dvrhf8d9t/image/upl...
35  https://res.cloudinary.com/dvrhf8d9t/image/upl...
36  https://res.cloudinary.com/dvrhf8d9t/image/upl...
37  https://res.cloudinary.com/dvrhf8d9t/image/upl...
38  https://res.cloudinary.com/dvrhf8d9t/image/upl...
39  https://res.cloudinary.com/dvrhf8d9t/image/upl...
40  https://res.cloudinary.com/dvrhf8d9t/image/upl...
41  https://res.cloudinary.com/dvrhf8d9t/image/upl...
42  https://res.cloudinary.com/dvrhf8d9t/image/upl...
Terdapat missing value dalam     id  created_at  updated_at  deleted_at  admin_id  \
0    9  2024-06-08         NaN         NaN       1.0
1   10  2024-06-08         NaN         NaN       1.0
2   11  2024-06-08         NaN         NaN       1.0
3   12  2024-06-08         NaN         NaN       1.0
4   13  2024-06-08         NaN         NaN       1.0
5   14  2024-06-08         NaN         NaN       1.0
6   15  2024-06-08         NaN         NaN       1.0
7   16  2024-06-08         NaN         NaN       1.0
8   17  2024-06-08         NaN         NaN       1.0
9   18  2024-06-08         NaN         NaN       1.0
10  19  2024-06-08         NaN         NaN       1.0
11  20  2024-06-08         NaN         NaN       1.0
12  21  2024-06-08         NaN         NaN       1.0
13  22  2024-06-08         NaN         NaN       1.0
14  23  2024-06-08         NaN         NaN       1.0
15  24  2024-06-08         NaN         NaN       1.0
16  25  2024-06-08         NaN         NaN       1.0
17  26  2024-06-08         NaN         NaN       1.0
18  27  2024-06-08         NaN         NaN       1.0
19  28  2024-06-08         NaN         NaN       1.0
20  29  2024-06-08         NaN         NaN       1.0
21  30  2024-06-08         NaN         NaN       1.0
22  31  2024-06-08         NaN         NaN       1.0
23  32  2024-06-09  2024-06-09  2024-06-11       NaN
24  33  2024-06-12  2024-06-12  2024-06-12       NaN
25  34  2024-06-12  2024-06-12         NaN       NaN
26  35  2024-06-12  2024-06-12  2024-06-12       NaN
27  36  2024-06-12  2024-06-12  2024-06-12       NaN
28  37  2024-06-12  2024-06-13         NaN       NaN
29  38  2024-06-12  2024-06-12  2024-06-12       NaN
30  39  2024-06-12  2024-06-12  2024-06-12       NaN
31  40  2024-06-13  2024-06-13  2024-06-13       NaN
32  41  2024-06-13  2024-06-13  2024-06-13       NaN
33  42  2024-06-13  2024-06-13  2024-06-13       NaN
34  43  2024-06-13  2024-06-13  2024-06-13       NaN
35  44  2024-06-14  2024-06-14  2024-06-14       NaN
36  45  2024-06-16  2024-06-16         NaN       NaN
37  46  2024-06-19  2024-06-19         NaN       NaN
38  47  2024-06-19  2024-06-19         NaN       NaN
39  48  2024-06-19  2024-06-19         NaN       NaN
40  49  2024-06-19  2024-06-19         NaN       NaN
41  50  2024-06-19  2024-06-19         NaN       NaN
42  51  2024-06-19  2024-06-19         NaN       NaN

                                                title  \
0            Donasi untuk Korban Banjir di Aceh Utara
1                                   Peduli Kalibareng
2   Bantuan Korban Bencana Alam Di Sulawesi Barat ...

In [173]:
df_applications = data_frame[0]
df_articles = data_frame[1]
# df_comments = data_frame[2]
# df_donation_manual_comments = data_frame[3]
df_donation_manuals = data_frame[4]
df_fundraising_categories = data_frame[5]
df_fundraisings = data_frame[6]
# df_like_comments = data_frame[7]
df_organizations = data_frame[8]
df_testimoni_volunteers = data_frame[9]
df_user_bookmark_fundraisings = data_frame[10]
df_user_bookmark_volunteer_vacancies = data_frame[11]
df_volunteers = data_frame[12]
df_users = data_frame[13]
# df_admins = data_frame[14]
# df_like_donation_comments = data_frame[15]
df_user_bookmark_articles = data_frame[16]

In [174]:
df_applications

,id,created_at,updated_at,deleted_at,ig_image_url,yt_image_url,user_id,vacancy_id,job,reason,age
0,1,2024-06-07,2024-06-07,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,54,3,Mahasiswa,Ingin menambah produktivitas,23.0
1,4,2024-06-08,NaN,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,54,1,Mahasiswa,Ingin menambah produktivitas,21.0
2,5,2024-06-08,NaN,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,55,1,Mahasiswa,Ingin menambah relasi,NaN
3,6,2024-06-08,NaN,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,56,1,Mahasiswa,Ingin mengisi waktu,NaN
4,7,2024-06-08,NaN,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,58,1,Mahasiswa,Ingin menambah pengalaman,NaN
...,...,...,...,...,...,...,...,...,...,...,...
144,190,2024-06-19,2024-06-19,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,127,3,Karyawan Swasta,testt,23.0
145,191,2024-06-19,2024-06-19,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,128,4,Karyawan Swasta,asdsa,19.0
146,192,2024-06-19,2024-06-19,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,127,6,Mahasiswa,test,19.0
147,193,2024-06-19,2024-06-19,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,121,3,Mahasiswa,fomo,19.0
148,194,2024-06-20,2024-06-20,NaN,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,131,3,Karyawan Swasta,ini volunter,23.0

### Tabel Fakta

##### 1. FactDonationTransaction

In [175]:
# Buat Struktur kolom fact_donation_transaction
columns = ['id', 'donation_id', 'fundraising_id', 'user_id', 'amount', 'goal_amount', 'fundraising_category_id', 'organization_id', 'created_at']
fact_donation = pd.DataFrame(columns=columns)

# mengambil data yang sukses di df_donation 
df_donation_success = df_donation_manuals.loc[df_donation_manuals['status'] == 'sukses']
df_donation_success = df_donation_success.reset_index(drop=True)

# mengisi data pada dari kolom df_donation
fact_donation['id'] = range(1, len(df_donation_success) + 1)
fact_donation['donation_id'] = df_donation_success['id']
fact_donation['fundraising_id'] = df_donation_success['fundraising_id']
fact_donation['user_id'] = df_donation_success['user_id']
fact_donation['amount'] = df_donation_success['amount']
fact_donation['created_at'] = df_donation_success['created_at']

# merge df_fundraising
df_merge_fact_fundraising = pd.merge(fact_donation, df_fundraisings, left_on='fundraising_id', right_on='id', how='left')
fact_donation['goal_amount'] = df_merge_fact_fundraising['goal_amount_y']
fact_donation['fundraising_category_id'] = df_merge_fact_fundraising['fundraising_category_id_y']
fact_donation['organization_id'] = df_merge_fact_fundraising['organization_id_y']

In [176]:
fact_donation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       100 non-null    int64
 1   donation_id              100 non-null    int64
 2   fundraising_id           100 non-null    int64
 3   user_id                  100 non-null    int64
 4   amount                   100 non-null    int64
 5   goal_amount              100 non-null    int64
 6   fundraising_category_id  100 non-null    int64
 7   organization_id          100 non-null    int64
 8   created_at               100 non-null    object
dtypes: int64(8), object(1)
memory usage: 7.2+ KB

##### 2. FactVolunteerApplications

In [177]:
# Buat Struktur kolom df_fact_volunteer_applications
columns = ['id', 'application_id', 'vacancy_id', 'user_id', 'organization_id', 'created_at']
fact_applications = pd.DataFrame(columns=columns)

# mengisi data pada dari kolom df_application
fact_applications['id'] = range(1, len(df_applications) + 1)
fact_applications['application_id'] = df_applications['id']
fact_applications['vacancy_id'] = df_applications['vacancy_id']
fact_applications['user_id'] = df_applications['user_id']
fact_applications['created_at'] = df_applications['created_at']

# merge df_fundraising
df_merge_fact_volunteer = pd.merge(fact_applications, df_volunteers, left_on='vacancy_id', right_on='id', how='left')
fact_applications['organization_id'] = df_merge_fact_volunteer['organization_id_y']

In [178]:
fact_applications.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               149 non-null    int64
 1   application_id   149 non-null    int64
 2   vacancy_id       149 non-null    int64
 3   user_id          149 non-null    int64
 4   organization_id  149 non-null    int64
 5   created_at       149 non-null    object
dtypes: int64(5), object(1)
memory usage: 7.1+ KB

##### 3. FactVolunteerTestimoni

In [179]:
# Buat Struktur kolom df_fact_volunteer_testimoni
columns = ['id', 'user_id', 'vacancy_id', 'testimoni_volunteer_id', 'rating', 'created_at']
fact_volunteer_testimoni = pd.DataFrame(columns=columns)

# mengisi data pada dari kolom df_application
fact_volunteer_testimoni['id'] = range(1, len(df_testimoni_volunteers) + 1)
fact_volunteer_testimoni['user_id'] = df_testimoni_volunteers['user_id']
fact_volunteer_testimoni['vacancy_id'] = df_testimoni_volunteers['vacancy_id']
fact_volunteer_testimoni['testimoni_volunteer_id'] = df_testimoni_volunteers['id']
fact_volunteer_testimoni['rating'] = df_testimoni_volunteers['rating']
fact_volunteer_testimoni['created_at'] = df_testimoni_volunteers['created_at']

##### 4. FactArticlePopular

In [180]:
# Buat Struktur kolom df_fact_articel_popular
columns = ['id', 'article_id', 'bookmark_id', 'user_id', 'created_at']
fact_article_popular = pd.DataFrame(columns=columns)

# mengisi data pada dari kolom df_comment
fact_article_popular['id'] = range(1, len(df_user_bookmark_articles) + 1)
fact_article_popular['article_id'] = df_user_bookmark_articles['article_id']
fact_article_popular['bookmark_id'] = df_user_bookmark_articles['id']
fact_article_popular['user_id'] = df_user_bookmark_articles['user_id']
fact_article_popular['created_at'] = df_user_bookmark_articles['created_at']

##### 5. FactBookmarkFundraising

In [181]:
fact_bookmark_fundraising = df_user_bookmark_fundraisings.drop(['deleted_at', 'updated_at'], axis=1)
fact_bookmark_fundraising = fact_bookmark_fundraising.rename(columns={'id':'bookmark_id'})
fact_bookmark_fundraising['id'] = range(1, len(fact_bookmark_fundraising) + 1)
fact_bookmark_fundraising.insert(0, 'id', fact_bookmark_fundraising.pop('id'))

##### 6. FactBookmarkVolunteerVacancies

In [182]:
fact_bookmark_volunteer_vacancies = df_user_bookmark_volunteer_vacancies.drop(['deleted_at', 'updated_at','volunteer_vacancy_id'], axis=1)
fact_bookmark_volunteer_vacancies = fact_bookmark_volunteer_vacancies.rename(columns={'id':'bookmark_id'})
fact_bookmark_volunteer_vacancies['id'] = range(1, len(fact_bookmark_volunteer_vacancies) + 1)
fact_bookmark_volunteer_vacancies.insert(0, 'id', fact_bookmark_volunteer_vacancies.pop('id'))

### Tabel Dimensi

In [183]:
dim_fundraisings = df_fundraisings.drop(['fundraising_category_id','organization_id','updated_at'], axis=1)
dim_fundraising_categories = df_fundraising_categories[['id','name','created_at']]
dim_donation_manual = df_donation_manuals.drop(['fundraising_id', 'user_id','updated_at'], axis=1)
dim_organization = df_organizations.drop(['updated_at'], axis= 1)
dim_user = df_users.drop(['updated_at'], axis=1)
dim_volunteer_applictaion = df_applications.drop(['user_id','vacancy_id','updated_at'], axis=1)
dim_volunteer_vacancies = df_volunteers.drop(['organization_id','updated_at'], axis=1)
dim_testimoni_volunteer = df_testimoni_volunteers.drop(['user_id','vacancy_id','updated_at'], axis=1)
dim_article = df_articles.drop(['updated_at'], axis = 1)
# dim_comment = df_comments.drop(['user_id','article_id','updated_at'], axis=1)
dim_bookmark_fundraising = df_user_bookmark_fundraisings.drop(['fundraising_id','user_id','updated_at'], axis=1)
dim_bookmark_volunter_vacancies = df_user_bookmark_volunteer_vacancies.drop(['volunteer_vacancies_id','user_id','updated_at'], axis=1)
dim_bookmark_article = df_user_bookmark_articles.drop(['deleted_at','updated_at'], axis=1)

In [184]:
df_fact = [
    ('fact_applications', fact_applications),
    ('fact_article_popular', fact_article_popular),
    ('fact_bookmark_fundraising', fact_bookmark_fundraising),
    ('fact_bookmark_volunteer_vacancies', fact_bookmark_volunteer_vacancies),
    ('fact_donation', fact_donation),
    ('fact_volunteer_testimoni', fact_volunteer_testimoni)
]

df_dim = [
    ('dim_article', dim_article),
    ('dim_bookmark_fundraising', dim_bookmark_fundraising),
    ('dim_bookmark_volunter_vacancies', dim_bookmark_volunter_vacancies),
    ('dim_bookmark_article', dim_bookmark_article),
    ('dim_donation_manual', dim_donation_manual),
    ('dim_fundraising_categories', dim_fundraising_categories),
    ('dim_fundraisings', dim_fundraisings),
    ('dim_organization', dim_organization),
    ('dim_testimoni_volunteer', dim_testimoni_volunteer),
    ('dim_user', dim_user),
    ('dim_volunteer_application', dim_volunteer_applictaion),
    ('dim_volunteer_vacancies', dim_volunteer_vacancies)
]

# Load

### Load To DB Local

In [185]:
# def load_db_local(df, table_name):
#     connection = pymysql.connect(
#         host='localhost',
#         user='root',
#         password='',
#         port=int(os.getenv('port'))
#     )

#     cursor = connection.cursor()

#     cursor.execute('CREATE DATABASE IF NOT EXISTS peduli_pintar')
#     cursor.execute('USE peduli_pintar')

#     engine = create_engine('mysql+pymysql://root:@localhost:3307/peduli_pintar')
#     df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
#     connection.close()

In [186]:
# load_db_local(df_applications,'tes')

In [187]:
# # Load dimension tables
# for table_name, df in df_dim:
#     load_db_local(df, table_name)

# for table_name, df in df_fact:
#     load_db_local(df, table_name)

### Load To Bigquery

In [188]:
credentials_path = os.getenv("GOOGLE_APPLICATION_CREDENTIALS")
if credentials_path:
    os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = credentials_path
else:
    raise Exception("GOOGLE_APPLICATION_CREDENTIALS is not set in the .env file")

client = bigquery.Client()

dataset_id_fact = os.getenv("dataset_id_fact")
dataset_id_dim = os.getenv("dataset_id_dim")

In [189]:
def load_df_to_bigquery(dataset_id, table_name, df):
    # Create a BigQuery client
    client = bigquery.Client()

    # Convert DataFrame to CSV
    csv_buffer = StringIO()
    df.to_csv(csv_buffer, index=False)
    csv_buffer.seek(0)

    table_id = f"{dataset_id}.{table_name}"
    
    partition_by = bigquery.TimePartitioning(field="created_at")

    job_config = bigquery.LoadJobConfig(
        source_format=bigquery.SourceFormat.CSV,
        skip_leading_rows=1,
        autodetect=True,
        write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE,
        time_partitioning=partition_by
    )

    # Load CSV data from StringIO buffer
    job = client.load_table_from_file(csv_buffer, table_id, job_config=job_config)
    
    # Wait for the load job to complete
    job.result()

    # Get table information
    table = client.get_table(table_id)
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )

In [190]:
# Load fact tables
for table_name, df in df_fact:
    load_df_to_bigquery(dataset_id_fact, table_name, df)

# Load dimension tables
for table_name, df in df_dim:
    load_df_to_bigquery(dataset_id_dim, table_name, df)

Loaded 149 rows and 6 columns to peduli_pintar_fact.fact_applications
Loaded 52 rows and 5 columns to peduli_pintar_fact.fact_article_popular
Loaded 94 rows and 5 columns to peduli_pintar_fact.fact_bookmark_fundraising
Loaded 67 rows and 5 columns to peduli_pintar_fact.fact_bookmark_volunteer_vacancies
Loaded 100 rows and 9 columns to peduli_pintar_fact.fact_donation
Loaded 24 rows and 6 columns to peduli_pintar_fact.fact_volunteer_testimoni
Loaded 43 rows and 7 columns to peduli_pintar_dim.dim_article
Loaded 94 rows and 3 columns to peduli_pintar_dim.dim_bookmark_fundraising
Loaded 67 rows and 4 columns to peduli_pintar_dim.dim_bookmark_volunter_vacancies
Loaded 52 rows and 4 columns to peduli_pintar_dim.dim_bookmark_article
Loaded 164 rows and 6 columns to peduli_pintar_dim.dim_donation_manual
Loaded 4 rows and 3 columns to peduli_pintar_dim.dim_fundraising_categories
Loaded 67 rows and 11 columns to peduli_pintar_dim.dim_fundraisings
Loaded 22 rows and 12 columns to peduli_pintar_dim.dim_organization
Loaded 24 rows and 5 columns to peduli_pintar_dim.dim_testimoni_volunteer
Loaded 84 rows and 11 columns to peduli_pintar_dim.dim_user
Loaded 149 rows and 8 columns to peduli_pintar_dim.dim_volunteer_application
Loaded 26 rows and 14 columns to peduli_pintar_dim.dim_volunteer_vacancies