In [1]:
import pandas as pd
from IPython.display import display
import mysql.connector
import os
from dotenv import load_dotenv

# Extract Data

In [2]:
def ingestion(table):
    load_dotenv()
    connection = mysql.connector.connect(
        host=os.getenv('host'),
        user='root',
        password=os.getenv('password'),
        database='capstone5'
    )
    query = f"SELECT * FROM {table}"  
    df = pd.read_sql(query, connection)
    connection.close()
    return df

In [3]:
df_applications = ingestion('applications')
df_articles = ingestion('articles')
df_comments = ingestion('comments')
df_donations = ingestion('donations')
df_donation_comments = ingestion('donation_comments')
df_fundraising_categories = ingestion('fundraising_categories')
df_fundraisings = ingestion('fundraisings')

df_customers = ingestion('users')
df_likes_comments = ingestion('likes_comments')
df_organizations = ingestion('organizations')
df_testimoni_volunteers = ingestion('testimoni_volunteers')
df_bookmark_fundraising = ingestion('user_bookmark_fundraising')
df_bookmark_volunteer = ingestion('user_bookmark_volunteer_vacancies')
df_volunteer_vacancies = ingestion('volunteers')

C:\Users\ikapu\AppData\Local\Temp\ipykernel_11476\277452134.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [4]:
display(df_applications)
display(df_articles)
display(df_comments)
display(df_donations)
display(df_donation_comments)
display(df_fundraising_categories)
display(df_fundraisings)
display(df_customers)
display(df_likes_comments)
display(df_testimoni_volunteers)
display(df_volunteer_vacancies)

,id,created_at,updated_at,deleted_at,ig_image_url,yt_image_url,user_id,vacancy_id,job,reason,age
0,1,2024-06-07 13:08:19.244,2024-06-07 13:08:19.244,None,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,54,3,Mahasiswa,Ingin menambah produktivitas,23.0
1,4,2024-06-08 13:08:19.244,NaT,None,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,54,1,Mahasiswa,Ingin menambah produktivitas,21.0
2,5,NaT,NaT,None,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,55,1,Mahasiswa,Ingin menambah relasi,NaN
3,6,NaT,NaT,None,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,56,1,Maahsiswa,Ingin mengisi waktu,NaN
4,7,NaT,NaT,None,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,58,1,Maahsiswa,Ingin menambah pengalaman,NaN
...,...,...,...,...,...,...,...,...,...,...,...
120,158,NaT,NaT,None,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,54,31,Mahasiswa,Ingin menambah produktivitas,NaN
121,159,NaT,NaT,None,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,55,31,Mahasiswa,Ingin menambah produktivitasIngin menambah pro...,NaN
122,160,NaT,NaT,None,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,56,31,Mahasiswa,Ingin menambah produktivitas,NaN
123,161,NaT,NaT,None,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,58,31,Mahasiswa,Ingin menambah produktivitas,NaN
124,162,NaT,NaT,None,https://res.cloudinary.com/dvrhf8d9t/image/upl...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,59,31,Mahasiswa,Ingin menambah produktivitas,NaN

,id,created_at,updated_at,deleted_at,admin_id,title,content,image_url
0,1,2024-06-03 10:46:05.734,2024-06-03 10:46:05.734,NaT,1.0,Article Title,This is the content of the article.,http://example.com/image.jpg
1,2,2024-06-05 17:04:48.132,2024-06-05 17:04:48.132,2024-06-05 10:10:37.088,1.0,Article Title 2,This is the content of the article 2.,http://example.com/image.jpg
2,3,2024-06-05 17:04:56.666,2024-06-05 17:04:56.666,NaT,1.0,Article Title 3,This is the content of the article 3.,http://example.com/image.jpg
3,4,2024-06-05 17:05:07.102,2024-06-05 17:09:49.599,NaT,1.0,Updated Article Title 4,This is the updated content of the article 4.,http://example.com/updated_image.jpg
4,5,2024-06-05 17:05:12.382,2024-06-05 17:05:12.382,NaT,1.0,Article Title 5,This is the content of the article 5.,http://example.com/image.jpg
5,6,2024-06-05 17:05:17.356,2024-06-05 17:05:17.356,NaT,1.0,Article Title 6,This is the content of the article 6.,http://example.com/image.jpg
6,7,2024-06-05 17:05:22.466,2024-06-05 17:05:22.466,NaT,1.0,Article Title 7,This is the content of the article 7.,http://example.com/image.jpg
7,8,2024-06-05 17:14:54.745,2024-06-05 17:14:54.745,NaT,1.0,Article Title 2,This is the content of the article 2.,http://example.com/image.jpg
8,9,2024-06-08 02:20:32.150,NaT,NaT,1.0,Donasi untuk Korban Banjir di Aceh Utara,Dosen bersama Himpunan Mahasiswa Akuntansi (Hi...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
9,10,2024-06-08 02:20:32.150,NaT,NaT,1.0,Peduli Kalibareng,"Dengan kordinasi yang baik, Bakti sosial yang ...",https://res.cloudinary.com/dvrhf8d9t/image/upl...
10,11,2024-06-08 02:20:32.150,NaT,NaT,1.0,Bantuan Korban Bencana Alam Di Sulawesi Barat ...,PT Insight Investments Management (Insight) di...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
11,12,2024-06-08 02:20:32.150,NaT,NaT,1.0,Voluntter Kebersihan Lingkungan,Lingkungan pasti akan selalu ada di sekitar ki...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
12,13,2024-06-08 02:20:32.150,NaT,NaT,1.0,Voluntter Museum Nasional Indonesia,Salah satu value yang kami kembangkan bersama ...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
13,14,2024-06-08 02:20:32.150,NaT,NaT,1.0,Mahasiswa PBI UIN Alauddin Jadi Volunteer di R...,UIN Alauddin Online - Salah satu mahasiswa Pen...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
14,15,2024-06-08 02:20:32.150,NaT,NaT,1.0,Bencana Alam Banjir Bandang dan Tanah Longsor ...,pada Pukul 13.30 WITA terjadi Hujan Lebat di w...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
15,16,2024-06-08 02:20:32.150,NaT,NaT,1.0,Longsor ancam tujuh rumah warga di Temanggung,"Tanah longsor yang terjadi di Dusun Kedawung, ...",https://res.cloudinary.com/dvrhf8d9t/image/upl...
16,17,2024-06-08 02:20:32.150,NaT,NaT,1.0,Banjir dan bencana beruntun di tengah cuaca ek...,Sederet bencana alam yang melanda Indonesia di...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
17,18,2024-06-08 02:20:32.150,NaT,NaT,1.0,Bencana Banjir di Kota Semarang,"Banjir melumpuhkan Stasiun Tawang di Semarang,...",https://res.cloudinary.com/dvrhf8d9t/image/upl...
18,19,2024-06-08 02:20:32.150,NaT,NaT,1.0,Gunung Marapi Sumbar Meletus,Gunung Marapi di Provinsi Sumatra Barat mengal...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
19,20,2024-06-08 02:20:32.150,NaT,NaT,1.0,Volunteer Upgrading Skill untuk Pendamping UKM,Sekolah Relawan kembali mengajak teman-teman r...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
20,21,2024-06-08 02:20:32.150,NaT,NaT,1.0,Dompet Dhuafa Bersama DD Volunteer Ajak 200 An...,Dompet Dhuafa bersama DDV (Dompet Dhuafa Volun...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
21,22,2024-06-08 02:20:32.150,NaT,NaT,1.0,DDV Sumbar Selenggarakan Voluntrip,"Mengusung tema “Voluntrip Sehatkan Indonesia”,...",https://res.cloudinary.com/dvrhf8d9t/image/upl...
22,23,2024-06-08 02:20:32.150,NaT,NaT,1.0,Relawan Pendidikan,Relawan atau volunteer memang sering sekali ki...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
23,24,2024-06-08 02:20:32.150,NaT,NaT,1.0,Taman Bacaan Pelangi,Banyak hal yang bisa dilakukan untuk membantu ...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
24,25,2024-06-08 02:20:32.150,NaT,NaT,1.0,Volunteer Sport Training Program dari Pacific ...,Pada tanggal 8 Januari 2020 belasan Mahasiswa ...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
25,26,2024-06-08 02:20:32.150,NaT,NaT,1.0,Reading House Mobile By Volunteer,Salah satu yang melatar belakangi ide dalam ke...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
26,27,2024-06-08 02:20:32.150,NaT,NaT,1.0,Ekspedisi Bakti Nusantara (EBN) Edisi Sumbawa,Kegiatan EBN Edisi Sumbawa ini memiliki 3 pros...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
27,28,2024-06-08 02:20:32.150,NaT,NaT,1.0,Volunteering di Tanah Papua,"Selama di Desa Sauwandarek, kami melaksanakan ...",https://res.cloudinary.com/dvrhf8d9t/image/upl...
28,29,2024-06-08 02:20:32.150,NaT,NaT,1.0,Volunteering di Entikong,Tanoto Foundation bersama yayasan beasiswa10.0...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
29,30,2024-06-08 02:20:32.150,NaT,NaT,1.0,Volunteer UPNVJ,Sepuluh volunteeryang terlibat dalam kegiatan ...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
30,31,2024-06-08 02:20:32.150,NaT,NaT,1.0,Bencana Banjir Bandang,Banjir bandang ini juga membuat perjalanan ker...,https://res.cloudinary.com/dvrhf8d9t/image/upl...
31,32,2024-06-09 04:31:31.533,2024-06-09 04:33:33.165,NaT,NaN,Test123,test,https://res.cloudinary.com/dvrhf8d9t/image/upl...

,id,created_at,updated_at,deleted_at,user_id,article_id,comment,total_likes
0,1,2024-06-09 05:57:01.302,2024-06-09 05:57:01.302,None,73,32,This is a new comment.,NaN
1,2,2024-06-09 13:20:06.191,2024-06-09 13:20:06.191,None,73,32,This is a new comment.1213,0.0

,id,created_at,updated_at,deleted_at,user_id,amount,status,code,fundraising_id,payment_url,payment_method
0,1,2024-06-04 01:19:30.290,2024-06-04 01:21:38.014,NaT,1,50000,paid,52849,1,https://app.sandbox.midtrans.com/snap/v4/redir...,BCA Virtual Account
1,2,2024-06-04 01:34:52.086,2024-06-04 01:35:21.592,NaT,1,150000,paid,97762,1,https://app.sandbox.midtrans.com/snap/v4/redir...,BCA Virtual Account
2,3,2024-06-04 01:37:02.957,2024-06-04 01:37:02.957,NaT,1,100000,pending,07486,1,https://app.sandbox.midtrans.com/snap/v4/redir...,
3,4,2024-06-04 01:40:28.986,2024-06-04 01:40:28.986,NaT,1,100000,pending,04853,1,https://app.sandbox.midtrans.com/snap/v4/redir...,
4,5,2024-06-04 02:16:20.721,2024-06-04 02:16:49.288,NaT,1,100000,paid,97042,1,https://app.sandbox.midtrans.com/snap/v4/redir...,BCA Virtual Account
5,6,2024-06-04 03:50:06.905,2024-06-04 04:18:16.216,NaT,1,200000,paid,68848,3,https://app.sandbox.midtrans.com/snap/v4/redir...,BCA Virtual Account
6,7,2024-06-04 04:04:48.089,2024-06-04 04:05:20.879,NaT,1,200000,paid,33815,3,https://app.sandbox.midtrans.com/snap/v4/redir...,BCA Virtual Account
7,8,2024-06-05 05:37:12.780,2024-06-05 05:37:12.780,2024-06-06 08:04:25.825,51,210000,pending,89340,1,https://app.sandbox.midtrans.com/snap/v4/redir...,
8,9,2024-06-05 07:27:34.757,2024-06-05 07:27:34.757,2024-06-06 08:04:25.825,51,200000,pending,00765,3,https://app.sandbox.midtrans.com/snap/v4/redir...,
9,10,2024-06-05 07:36:27.260,2024-06-05 07:37:02.800,2024-06-06 08:04:25.825,51,200000,paid,43299,3,https://app.sandbox.midtrans.com/snap/v4/redir...,BCA Virtual Account

,id,created_at,updated_at,deleted_at,donation_id,comment,total_likes
0,1,2024-06-04 01:19:30.300,2024-06-04 01:19:30.300,None,1,Bismillah semoga bermanfaat donasi ini. Semoga...,1
1,2,2024-06-04 01:34:52.097,2024-06-04 01:34:52.097,None,2,Bismillah semoga bermanfaat donasi ini. Semoga...,0
2,3,2024-06-04 01:37:02.966,2024-06-04 01:37:02.966,None,3,Bismillah semoga bermanfaat donasi ini. Semoga...,0
3,4,2024-06-04 01:40:28.997,2024-06-04 01:40:28.997,None,4,Bismillah semoga bermanfaat donasi ini. Semoga...,0
4,5,2024-06-04 02:16:20.734,2024-06-04 02:16:20.734,None,5,Bismillah semoga bermanfaat donasi ini. Semoga...,0
5,6,2024-06-04 03:50:06.919,2024-06-04 03:50:06.919,None,6,Bismillah semoga bermanfaat donasi ini. Semoga...,0
6,7,2024-06-04 04:04:48.100,2024-06-04 04:04:48.100,None,7,Bismillah semoga bermanfaat donasi ini. Semoga...,0
7,8,2024-06-05 05:37:12.792,2024-06-05 05:37:12.792,None,8,Doa dan harapan,0
8,9,2024-06-05 07:27:34.765,2024-06-05 07:27:34.765,None,9,Bismillah semoga bermanfaat donasi ini. Semoga...,0
9,10,2024-06-05 07:36:27.272,2024-06-05 07:36:27.272,None,10,Bismillah semoga bermanfaat donasi ini. Semoga...,0

   id              created_at              updated_at deleted_at     name
0   1 2024-06-03 18:43:04.730 2024-06-03 18:43:04.730       None  Edukasi
1   2 2024-06-03 18:43:04.730 2024-06-03 18:43:04.730       None  Bencana
2   3 2024-06-03 18:43:04.730 2024-06-03 18:43:04.730       None   Sosial
3   4 2024-06-03 18:43:04.730 2024-06-03 18:43:04.730       None     Alam

,id,created_at,updated_at,deleted_at,fundraising_category_id,organization_id,title,image_url,description,status,goal_amount,current_progress,start_date,end_date
0,1,2024-06-04 01:16:25.220,2024-06-04 02:16:49.306,NaT,2,1,Bantu Banjir Demak Kembali Pulih,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini mengajak seluruh lapisan masyaraka...,unachieved,15000000,400000,2024-06-13,2024-06-22
1,2,2024-06-04 03:09:44.762,2024-06-04 03:09:44.762,NaT,3,1,Anak 2 Tahun Idap Gizi Buruk,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini bertujuan untuk membantu seorang a...,unachieved,20000000,0,2024-06-15,2024-06-28
2,3,2024-06-04 03:15:27.036,2024-06-05 07:37:02.820,NaT,1,1,Bantu Masa Depan Warga Pelosok,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini bertujuan untuk membantu meningkat...,unachieved,30000000,800000,2024-06-20,2024-06-27
3,4,2024-06-05 09:30:16.797,2024-06-05 09:30:16.797,2024-06-05 09:32:52.084,1,1,Bantu Masa Depan,https://res.cloudinary.com,Program ini bertujuan untuk membantu,,35000000,0,2024-06-20,2024-06-27
4,5,2024-06-05 14:05:16.115,2024-06-05 14:05:16.115,2024-06-05 14:13:20.654,1,1,Bantu Masa Depan Warga Pelosok,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini bertujuan untuk membantu meningkat...,unachieved,30000000,0,2024-06-20,2024-06-27
5,6,2024-06-06 00:03:25.012,NaT,NaT,1,7,Beasiswa Peradaban,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini bertujuan memberikan beasiswa kepa...,aktif,5000000,2590000,2024-01-01,2024-12-31
6,7,2024-06-06 00:03:25.012,NaT,NaT,1,8,Bantuan Pendidikan Untuk Anak Yatim,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini fokus pada pemberian bantuan pendi...,aktif,10000000,6930000,2024-02-01,2025-01-31
7,8,2024-06-06 00:03:25.012,NaT,NaT,1,9,Donasi Buku untuk Sekolah di Daerah Terpencil,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Pengumpulan dana untuk pembelian dan distribus...,selesai,1500000,2000000,2024-03-01,2024-06-01
8,9,2024-06-06 00:03:25.012,NaT,NaT,1,10,Pembangunan Fasilitas Belajar di Sekolah Pesan...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini bertujuan membangun ruang kelas da...,aktif,8000000,4590000,2024-04-01,2024-12-31
9,10,2024-06-06 00:03:25.012,NaT,NaT,1,7,Edukasi Digital untuk Siswa Kurang Mampu,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Menyediakan perangkat belajar digital dan pela...,aktif,6000000,3400000,2024-05-01,2024-08-01
10,11,2024-06-06 00:03:25.012,NaT,NaT,1,9,Lembaga Pendidikan untuk Anak Berkebutuhan Khusus,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Penggalangan dana untuk mendirikan lembaga pen...,aktif,25000000,23017000,2024-04-01,2024-12-31
11,12,2024-06-06 00:03:25.012,NaT,NaT,2,3,Bantuan Darurat untuk Korban Banjir di Jakarta,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini bertujuan untuk memberikan bantuan...,aktif,10000000,2452000,2024-01-01,2024-03-31
12,13,2024-06-06 00:03:25.012,NaT,NaT,2,3,Rehabilitasi Rumah Korban Gempa di Lombok,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Penggalangan dana untuk memperbaiki dan memban...,aktif,2500000,13040000,2024-02-01,2024-06-30
13,14,2024-06-06 00:03:25.012,NaT,NaT,2,13,Pembangunan Sarana Air Bersih di Daerah Terdam...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Pengumpulan dana untuk pembangunan fasilitas a...,aktif,8000000,3532000,2024-03-01,2024-08-30
14,15,2024-06-06 00:03:25.012,NaT,NaT,2,13,Dukungan Psikososial untuk Korban Letusan Gunu...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini fokus pada pemberian dukungan psik...,aktif,6000000,2333000,2024-04-01,2024-09-30
15,16,2024-06-06 00:03:25.012,NaT,NaT,2,13,Pembangunan Lumbung Sosial di Wilayah Rawan Be...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Menggalang dana untuk membangun lumbung sosial...,aktif,12000000,0,2024-05-01,2024-12-31
16,17,2024-06-06 00:03:25.012,NaT,NaT,2,3,Bantuan Tanah Longsor Garut,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program penggalangan dana untuk membantu korba...,aktif,12000000,6060000,2024-05-01,2024-06-30
17,18,2024-06-06 00:03:25.012,NaT,NaT,2,3,Bantuan Banjir Bandang dan Tanah Longsor Sulaw...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Penggalangan dana untuk membantu korban banjir...,aktif,7000000,7015000,2024-05-08,2024-07-31
18,19,2024-06-06 00:03:25.012,NaT,NaT,3,4,Santunan Anak Yatim,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Inisiatif untuk menyediakan dana pendidikan da...,aktif,20000000,5347000,2024-04-01,2024-12-31
19,20,2024-06-06 00:03:25.012,NaT,NaT,3,4,Rumah Harapan,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Penggalangan dana untuk membangun tempat tingg...,aktif,15000000,13500000,2024-02-01,2024-11-30
20,21,2024-06-06 00:03:25.012,NaT,NaT,3,5,Bantuan Pangan untuk Masyarakat Terdampak COVI...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini bertujuan untuk menyediakan paket ...,aktif,9000000,3920000,2024-01-01,2024-06-30
21,22,2024-06-06 00:03:25.012,NaT,NaT,3,5,Rumah Singgah untuk Anak Jalanan,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Penggalangan dana ini bertujuan untuk mendirik...,aktif,2000000,437000,2024-02-01,2024-12-31
22,23,2024-06-06 00:03:25.012,NaT,NaT,3,6,Pengembangan Keterampilan untuk Ibu Rumah Tang...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini fokus pada pelatihan keterampilan ...,aktif,2000000,0,2024-03-01,2024-08-31
23,24,2024-06-06 00:03:25.012,NaT,NaT,3,6,Pembangunan Sanitasi dan Air Bersih di Kampung...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Pengumpulan dana untuk pembangunan fasilitas s...,aktif,7000000,670000,2024-04-01,2024-09-30
24,25,2024-06-06 00:03:25.012,NaT,NaT,3,6,Perbaikan Pusat Kesehatan Masyarakat di Daerah...,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini bertujuan untuk memperbaiki dan me...,aktif,10000000,8951000,2024-05-01,2024-12-31
25,26,2024-06-06 00:03:25.012,NaT,NaT,4,11,Konservasi Mangrove di Kalimantan,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini bertujuan untuk melestarikan dan m...,aktif,1500000,0,2024-01-01,2024-12-31
26,27,2024-06-06 00:03:25.012,NaT,NaT,4,11,Pemulihan Hutan Lindung Wehea,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini fokus pada pemulihan hutan lindung...,aktif,2000000,1725000,2024-02-15,2025-02-15
27,28,2024-06-06 00:03:25.012,NaT,NaT,4,11,Penyelamatan Ekosistem Laut Raja Ampat,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini bertujuan untuk melindungi dan mer...,aktif,5000000,2400000,2024-03-01,2025-03-01
28,29,2024-06-06 00:03:25.012,NaT,NaT,4,12,Pelestarian Taman Nasional Gunung Leuser,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini bertujuan untuk melindungi dan mel...,aktif,6000000,0,2024-04-01,2025-04-01
29,30,2024-06-06 00:03:25.012,NaT,NaT,4,12,Kampanye Konservasi Laut Wakatobi,https://res.cloudinary.com/dvrhf8d9t/image/upl...,Program ini berfokus pada konservasi laut di W...,aktif,4000000,0,2024-05-01,2025-05-01
30,31,2024-06-06 05:26:32.270,2024-06-06 05:31:47.063,NaT,2,1,test,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
31,32,2024-06-09 01:31:20.936,2024-06-09 01:31:20.936,NaT,1,1,test123,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
32,33,2024-06-09 02:53:23.848,2024-06-09 02:53:23.848,NaT,1,1,test123,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
33,34,2024-06-09 05:24:47.337,2024-06-09 05:24:47.337,2024-06-09 08:55:32.062,1,1,test,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
34,35,2024-06-09 05:28:54.341,2024-06-09 05:28:54.341,2024-06-09 08:15:55.237,1,1,biru,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
35,36,2024-06-09 08:18:02.050,2024-06-09 08:18:02.050,2024-06-09 08:28:36.515,1,1,biru,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
36,37,2024-06-09 08:31:43.447,2024-06-09 08:31:43.447,2024-06-09 08:31:54.677,1,1,biru,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
37,38,2024-06-09 08:32:18.159,2024-06-09 08:32:18.159,2024-06-09 08:32:27.463,1,1,biru,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
38,39,2024-06-09 08:38:17.383,2024-06-09 08:38:17.383,2024-06-09 08:38:29.729,1,1,biru,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
39,40,2024-06-09 08:43:37.295,2024-06-09 08:43:37.295,2024-06-09 08:44:01.131,1,1,biru,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
40,41,2024-06-09 08:56:10.778,2024-06-09 08:56:10.778,2024-06-09 08:56:52.365,1,1,biru,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
41,42,2024-06-09 08:56:23.712,2024-06-09 08:56:23.712,2024-06-09 08:56:33.344,1,1,biru,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
42,43,2024-06-09 08:59:50.747,2024-06-09 08:59:50.747,2024-06-09 08:59:59.014,1,1,biru,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
43,44,2024-06-09 09:00:09.998,2024-06-09 09:00:09.998,2024-06-09 09:00:21.084,1,1,biru,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08
44,45,2024-06-09 14:09:52.158,2024-06-09 14:49:16.305,2024-06-09 14:49:41.996,3,3,hitam,https://res.cloudinary.com/dvrhf8d9t/image/upl...,halo,unachieved,10000000,0,2024-06-09,2024-06-16
45,46,2024-06-09 14:49:57.637,2024-06-09 14:49:57.637,2024-06-09 14:50:22.788,1,1,biru,https://res.cloudinary.com/dvrhf8d9t/image/upl...,testttt,unachieved,10000,0,2024-07-01,2024-08-08

,id,created_at,updated_at,deleted_at,fullname,username,email,password,avatar,reset_token,no_telp
0,1,2024-06-03 10:45:11.896,2024-06-03 10:45:11.896,NaT,John Doe,johndoe,newaccount@test.com,123123,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,None
1,51,2024-06-04 10:45:11.896,NaT,2024-06-06 08:04:25.838,sinta,sinta,sintaayr03@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,81365706378
2,52,2024-06-04 10:45:11.896,NaT,NaT,ayu,ayu,sintaayr19@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,81365706378
3,53,2024-06-04 10:45:11.896,NaT,NaT,risma,risma,sintaayr06@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,81365706378
4,54,2024-06-04 10:45:11.896,NaT,NaT,wati,wati,sintaayr1906@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,81365706378
5,55,2024-06-04 10:45:11.896,NaT,NaT,sintaayr,sintaayr,sintaayr190603@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,81365706378
6,56,2024-06-04 10:45:11.896,NaT,NaT,suryaditr,suryaditr,suryadisimanungkalitt@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,82277266175
7,58,2024-06-05 10:45:11.896,2024-06-07 13:34:28.456,NaT,hanggoro,hanggoroo,hanggoroo@gmail.com,12345678,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,85607944442
8,59,2024-06-05 10:45:11.896,NaT,NaT,seto,seto,setohanggoro8@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,85607944442
9,60,2024-06-05 10:45:11.896,NaT,NaT,ika,ika,ikapurwanti144@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,89503250312
10,61,2024-06-05 10:45:11.896,NaT,NaT,purwanti,purwanti,purwantiika144@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,89503250312
11,62,2024-06-05 10:45:11.896,NaT,NaT,ikap,ikap,ikapprwnt144@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,89503250312
12,63,2024-06-05 10:45:11.896,NaT,NaT,tarisa,tarisa,111202013105@mhs.dinus.ac.id,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,87762583790
13,64,2024-06-05 10:45:11.896,NaT,NaT,dina,dina,dina105@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,87762583790
14,65,2024-06-05 10:45:11.896,NaT,NaT,lutfiana,lutfiana,lutfianaaa11@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,87762583790
15,66,2024-06-05 10:45:11.896,NaT,NaT,lutfi,lutfi,lutfiii22@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,87762583790
16,67,2024-06-05 10:45:11.896,NaT,NaT,dzikri,dzikri,dzikririandripratama@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,882005620028
17,68,2024-06-05 10:45:11.896,NaT,NaT,riandri,riandri,riandripratama@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,882005620028
18,69,2024-06-05 10:45:11.896,NaT,NaT,pratama,pratama,dzikripratama@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,882005620028
19,70,2024-06-05 10:45:11.896,NaT,NaT,hilmi,hilmi,hilmiyahya825@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None,81259830695
20,71,2024-06-05 06:17:18.949,2024-06-05 09:58:02.713,NaT,Angga Aliimu Fattah,Angga,bigboss13022003@gmail.com,bigboss2003,https://res.cloudinary.com/dvrhf8d9t/image/upl...,t-y693_1Z9inlGlTvMwGlvyqg5zjDw3xuZeNalTg-Wg=,0
21,72,2024-06-05 06:37:57.756,2024-06-05 06:37:57.756,NaT,Hanggoro Seto F,johndoe,hanggoroseto9@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,0932255
22,73,2024-06-05 06:38:42.897,2024-06-05 06:38:42.897,NaT,sinta,sinta,sinta@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,0932255
23,74,2024-06-05 06:39:53.424,2024-06-05 06:39:53.424,NaT,sinta,sinta,sinta1@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,0932255
24,75,2024-06-05 06:41:53.972,2024-06-05 06:41:53.972,NaT,Angga Aliimu Fattah,angga,a@gmail.com,a12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,09762562598726
25,76,2024-06-05 07:14:31.241,2024-06-05 07:14:31.241,NaT,Anggi Hanggoro,anggi,hanggoroseto99@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,085607944442
26,77,2024-06-05 07:31:52.140,2024-06-05 07:31:52.140,NaT,lemot,lemot,lemot@gmail.com,lemot,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,0978786534324
27,78,2024-06-05 08:35:31.059,2024-06-05 08:35:31.059,NaT,suryadi9,suryadi9,suryadi9@gmail.com,suryadi9,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,082277266175
28,79,2024-06-05 12:11:05.291,2024-06-05 12:11:05.291,NaT,Anggi Hanggoro Firman,anggi12,hanggoroseto98@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,085607944441
29,80,2024-06-06 07:34:13.185,2024-06-06 07:34:13.185,NaT,Kris2,Kris92,testaja2@test.com,123123,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,091111118
30,81,2024-06-06 11:21:07.530,2024-06-06 11:21:07.530,NaT,suryaa,surya,susrya5@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,09322558
31,82,2024-06-06 11:22:32.877,2024-06-06 11:22:32.877,NaT,suryaadaii,suryagit,suryagit@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,093225582
32,83,2024-06-06 12:56:55.605,2024-06-06 12:56:55.605,NaT,suryaadaiis,suryagits,suryagits@gmail.com,12345,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,0932255822
33,84,2024-06-06 16:32:42.669,2024-06-06 16:32:42.669,NaT,oala,oala,oala@gmail.com,oala,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,08676546
34,85,2024-06-06 16:58:31.903,2024-06-06 16:59:31.420,NaT,Anggi Hanggoro Firmandani,anggi123,hanggoroseto6@gmail.com,123,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,085607941
35,86,2024-06-06 17:45:06.159,2024-06-06 17:45:06.159,NaT,manut,manut,manutgmail.com,manut,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,0932252
36,87,2024-06-09 09:43:13.315,2024-06-09 09:43:13.315,NaT,Suryadi12,Suryadi12,suryadi12@gmail.com,Suryadi12,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,08223225582
37,88,2024-06-09 09:44:48.358,2024-06-09 09:44:48.358,NaT,Suryadia2,Suryadia2,suryadi122@gmail.com,Suryadia2,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,082232255822
38,89,2024-06-09 09:45:45.332,2024-06-09 09:45:45.332,NaT,Suryadi1aa2,Suryadi1aa2,suryadi122aa@gmail.com,Suryadi1aa2,https://res.cloudinary.com/dvrhf8d9t/image/upl...,,082232255823

,id,created_at,updated_at,deleted_at,user_id,comment_id
0,4,2024-06-09 13:18:40.682,2024-06-09 13:18:40.682,NaT,73,1
1,5,2024-06-09 13:20:29.867,2024-06-09 13:20:29.867,2024-06-09 13:37:38.767,73,2

,id,created_at,updated_at,deleted_at,user_id,vacancy_id,testimoni,rating
0,1,None,None,None,54,1,Menyenangkan,4
1,2,None,None,None,55,1,Seru,3
2,3,None,None,None,56,1,Sangat menarik,4
3,4,None,None,None,58,1,Bagus,3
4,5,None,None,None,54,2,Kegiatan ini menyenangkan,4
5,6,None,None,None,55,2,Saya senang karna mendapat banyak relasi dan m...,5
6,7,None,None,None,56,2,Pengurus acara ini sangat terstruktur sehingga...,4
7,8,None,None,None,58,2,Seru,5
8,9,None,None,None,67,5,Seru,4
9,10,None,None,None,68,5,Asik,4
10,11,None,None,None,69,5,Menyenangkan,5
11,12,None,None,None,71,5,Seru,4
12,13,None,None,None,72,5,-,4
13,14,None,None,None,73,5,-,4
14,15,None,None,None,60,9,Menyenangkan,4
15,16,None,None,None,61,9,Menyenangkan,4
16,17,None,None,None,62,9,Lumayan,3
17,18,None,None,None,63,9,Menyenangkan,4
18,19,None,None,None,64,9,Seru,4
19,20,None,None,None,65,9,Asik,4
20,21,None,None,None,66,9,Cukup seru,2
21,22,None,None,None,67,9,Lumayan,3
22,23,None,None,None,68,9,Menyenangkan,4
23,24,None,None,None,69,9,Menyenangkan,4

,id,created_at,updated_at,deleted_at,title,organization_id,content_activity,location,start_date,end_date,target_volunteer,registered_volunteer,registration_deadline,image_url,status
0,1,2024-06-04 01:16:25.220,NaT,None,"Pantai Bersih, Laut Sehat: Aksi Sukarela untuk...",11,"Program ""Pendidikan untuk Semua: Gerakan Sukar...","Jakarta, Indonesia",2024-04-24,2024-04-25,5,5,2024-04-23,https://res.cloudinary.com/dvrhf8d9t/image/upl...,inactive
1,2,2024-06-07 02:16:25.220,NaT,None,Hijaukan Kembali: Aksi Peduli Taman untuk Ling...,12,"Program ""Hijaukan Kembali: Aksi Peduli Taman u...","Jakarta, Indonesia",2024-04-26,2024-04-27,10,10,2024-04-14,https://res.cloudinary.com/dvrhf8d9t/image/upl...,inactive
2,3,2024-06-07 10:16:25.220,NaT,None,Gerakan Hijau: Bersama Tanam Kembali untuk Mas...,11,"Program ""Gerakan Hijau: Bersama Tanam Kembali ...","Jl.Rungkut, Surabaya, Jawa Timur",2024-07-28,2024-07-29,40,5,2024-07-16,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
3,4,2024-06-07 11:16:25.220,NaT,None,Reforestasi Bersama: Aksi Sukarela untuk Bumi ...,12,"Program ""Reforestasi Bersama: Aksi Sukarela un...","Kepanjen, Malang, Jawa Timur",2024-07-30,2024-07-31,40,12,2024-07-19,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
4,5,2024-06-07 01:16:25.220,NaT,None,Pendidikan untuk Semua: Gerakan Sukarela Menga...,7,"Program ""Pendidikan untuk Semua: Gerakan Sukar...","Medan, Sumatra Utara",2024-03-01,2024-03-05,10,10,2024-02-29,https://res.cloudinary.com/dvrhf8d9t/image/upl...,inactive
5,6,2024-06-07 01:16:25.220,NaT,None,Berbagi Ilmu: Aksi Sukarela Menginspirasi Gene...,8,"Program ""Berbagi Ilmu: Aksi Sukarela Menginspi...","Probolinggo, Jawa Timur",2024-07-06,2024-07-10,30,5,2024-07-16,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
6,7,2024-06-07 01:16:25.220,NaT,None,Berbagi Kebaikan: Aksi Sukarela Berbagi Makanan,4,"Program ""Berbagi Kebaikan"" mengajak para sukar...","Jember, Jawa Timur",2024-07-11,2024-07-15,50,10,2024-07-16,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
7,8,2024-06-07 01:16:25.220,NaT,None,Santapan Peduli: Aksi Berbagi Makanan untuk Se...,5,"Program ""Santapan Peduli"" bertujuan menyediaka...","Purworejo, Jawa Timur",2024-07-16,2024-07-20,50,10,2024-07-17,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
8,9,2024-06-07 01:16:25.220,NaT,None,Sehat Bersama: Aksi Sukarela Cek Kesehatan Gratis,3,"Program ""Sehat Bersama"" adalah inisiatif sukar...","Papua, Indonesia",2024-05-21,2024-05-22,25,25,2024-04-30,https://res.cloudinary.com/dvrhf8d9t/image/upl...,inactive
9,10,2024-06-07 01:16:25.220,NaT,None,Sejahtera Sehat: Aksi Sukarela Layanan Kesehat...,13,"""Sejahtera Sehat"" adalah program sukarela yang...","Bojonegoro, Jawa Timur",2024-07-05,2024-07-11,50,6,2024-07-02,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
10,11,2024-06-07 01:16:25.220,NaT,None,Peduli Sehat: Aksi Sukarela Kesehatan untuk Semua,3,"""Peduli Sehat"" adalah program sukarela yang be...","Trawas, Mojokerto",2024-08-01,2024-08-02,50,5,2024-07-30,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
11,12,2024-06-07 01:16:25.220,NaT,None,Membangun Bersama: Aksi Sukarela Renovasi untu...,13,"Program ""Membangun Bersama"" mengajak para suka...","Sukodono, Sidoarjo, Jawa Timur",2024-08-03,2024-08-05,70,7,2024-07-31,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
12,29,2024-06-07 01:16:25.220,NaT,None,Sumber Kehidupan: Aksi Sukarela Air Bersih unt...,3,"Program ""Sumber Kehidupan"" adalah inisiatif su...","Jl.Taman Pinang, Sidoarjo, Jawa Timur",2024-08-06,2024-08-06,40,5,2024-08-04,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
13,30,2024-06-07 01:16:25.220,NaT,None,Air untuk Semua: Aksi Sukarela Mewujudkan Akse...,13,"Program ""Air untuk Semua"" mengajak para sukare...","Pacet, Mojokerto",2024-08-07,2024-08-12,60,6,2024-08-06,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
14,31,2024-06-07 01:16:25.220,NaT,None,Pahlawan Hewan: Aksi Sukarela Rescue Anjing,11,"Program ""Pahlawan Hewan"" mengundang para sukar...","Banyumas, Jawa Tengah",2024-08-10,2024-08-15,35,0,2024-07-01,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
15,32,2024-06-07 01:16:25.220,NaT,None,Merdeka di Laut: Aksi Sukarela Realese Penyu,12,"Program ""Merdeka di Laut"" adalah inisiatif suk...","Pantai Biru, Banyuwangi, Jawa Timur",2024-08-20,2024-08-22,40,0,2024-06-27,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
16,33,2024-06-07 01:16:25.220,NaT,None,Taman Karang Kembali: Aksi Sukarela Tanam Teru...,11,"Program ""Taman Karang Kembali"" merupakan inisi...",Gili Ketapang,2024-08-25,2024-08-27,20,0,2024-06-27,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
17,34,2024-06-07 01:16:25.220,NaT,None,Panen Berkah: Aksi Sukarela Membantu Petani Lokal,12,"Program ""Panen Berkah"" mengajak para sukarelaw...","Batu, Jawa Timur",2024-09-01,2024-09-03,50,0,2024-06-30,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
18,35,2024-06-07 01:16:25.220,NaT,None,Kasih Sayang Abadi: Aksi Sukarela di Panti Jompo,4,"Program ""Kasih Sayang Abadi"" mengundang para s...","Turen, Malang, Jawa Timur",2024-09-10,2024-09-13,50,0,2024-06-30,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
19,36,2024-06-07 01:16:25.220,NaT,None,Cahaya Kasih: Aksi Sukarela Mencerahkan Hari d...,5,"Program ""Cahaya Kasih"" adalah inisiatif sukare...","Jemursari, Surabaya, Jawa Timur",2024-09-15,2024-09-16,30,0,2024-07-01,https://res.cloudinary.com/dvrhf8d9t/image/upl...,None
20,38,2024-06-07 13:17:58.097,2024-06-07 13:44:40.438,None,Test,1,test,test,2024-10-03,2024-10-10,250,0,2024-07-25,https://res.cloudinary.com/dvrhf8d9t/image/upl...,active

# Cleaning

In [5]:
# Cek duplikat dan missing value

def cleaning_data(df, name_df):
    
    # cek duplikat
    duplicates = df[df.duplicated(subset=df.columns, keep=False)]
    if not duplicates.empty:
        print(f"Terdapat duplikat pada {name_df}")
        print(duplicates)
        df = df.drop_duplicates()
    else:
        print(f"Tidak ada data duplikat pada {name_df}")
    
    # cek missing value
    missing_columns = [col for col in df.columns if col not in ['updated_at', 'deleted_at']]
    if df[missing_columns].isnull().any().any():
        print(f"Terdapat missing value dalam {name_df}")
        missing_sum = df[missing_columns].isnull().sum()
        print(missing_sum)
        
        for col in df.columns[df.isnull().any().any()]:
            if df[col].isdigit():
                df[col] = df[col].fillna(0)
            else:
                df[col] = df[col].fillna('-')
    else :
        print(f"Tidak ada missing value dalam {name_df}")
        missing_sum = df[missing_columns].isnull().sum()
        print(missing_sum)
    return df

In [6]:
df_applications = cleaning_data(df_applications, "Application Data")
df_articles = cleaning_data(df_articles, "Article Data")
df_comments = cleaning_data(df_comments, "Commet Data")
df_donations = cleaning_data(df_donations, "Donation Data")
df_donation_comments = cleaning_data(df_donation_comments, "Donation Comments Data")
df_fundraising_categories = cleaning_data(df_fundraising_categories, "Fundraising Categories Data")
df_fundraisings = cleaning_data(df_fundraisings, "Fundraising Data")

df_customers = cleaning_data(df_customers, "Customer Data")
df_likes_comments = cleaning_data(df_likes_comments, "Like Comments Data")
df_organizations = cleaning_data(df_organizations, "Organization Data")
df_testimoni_volunteers = cleaning_data(df_testimoni_volunteers, "Testimoni Volunteer Data")
df_bookmark_fundraising = cleaning_data(df_bookmark_fundraising, "Bookmark Fundraising Data")
df_bookmark_volunteer = cleaning_data(df_bookmark_volunteer, "Bookmark Volunteer Data")
df_volunteer_vacancies = cleaning_data(df_volunteer_vacancies, "Volunteer Vacancies Data")

Tidak ada data duplikat pada Application Data
Terdapat missing value dalam Application Data
id                0
created_at      123
ig_image_url      0
yt_image_url      0
user_id           0
vacancy_id        0
job               0
reason            0
age             123
dtype: int64

ValueError: Multi-dimensional indexing (e.g. `obj[:, None]`) is no longer supported. Convert to a numpy array before indexing instead.

# Transform

## Tabel Fakta

### 1. FactDonationTransaction

In [ ]:
# Buat Struktur kolom df_fact_donation_transaction
columns = ['id', 'donation_id', 'fundraising_id', 'customer_id', 'nominal', 'goal_amount', 'fundraising_categories_id', 'organization_id', 'donation_created_at']
df_fact_donation_transaction = pd.DataFrame(columns=columns)

In [ ]:
# mengambil data yang sukses di df_donation 
df_donation_success = df_donations.loc[df_donations['status'] == 'success']
df_donation_success = df_donation_success.reset_index(drop=True)

In [ ]:
# mengisi data pada dari kolom df_donation
df_fact_donation_transaction['id'] = range(1, len(df_donation_success) + 1)
df_fact_donation_transaction['donation_id'] = df_donation_success['id']
df_fact_donation_transaction['fundraising_id'] = df_donation_success['fundraisings_id']
df_fact_donation_transaction['customer_id'] = df_donation_success['customer_id']
df_fact_donation_transaction['nominal'] = df_donation_success['nominal']
df_fact_donation_transaction['donation_created_at'] = df_donation_success['created_at']

In [ ]:
# merge df_fundraising
df_merge_fact_fundraising = pd.merge(df_fact_donation_transaction, df_fundraisings, left_on='fundraising_id', right_on='id', how='left')

# inisialisasi data di df_fact_donation_transaction
df_fact_donation_transaction['goal_amount'] = df_merge_fact_fundraising['goal_amount_y']
df_fact_donation_transaction['fundraising_categories_id'] = df_merge_fact_fundraising['fundraising_categories_id_y']
df_fact_donation_transaction['organization_id'] = df_merge_fact_fundraising['organization_id_y']
df_fact_donation_transaction

### 2. Fact Volunteer Applications

In [ ]:
# Buat Struktur kolom df_fact_volunteer_applications
columns = ['id', 'application_id', 'volunteer_vacancies_id', 'customer_id', 'organization_id', 'application_created_at']
df_fact_volunteer_applications = pd.DataFrame(columns=columns)

In [ ]:
# mengisi data pada dari kolom df_application
df_fact_volunteer_applications['id'] = range(1, len(df_applications) + 1)
df_fact_volunteer_applications['application_id'] = df_applications['id']
df_fact_volunteer_applications['volunteer_vacancies_id'] = df_applications['vacancy_id']
df_fact_volunteer_applications['customer_id'] = df_applications['customer_id']
df_fact_volunteer_applications['application_created_at'] = df_applications['create_at']
df_fact_volunteer_applications

In [ ]:
# merge df_fundraising
df_merge_fact_volunteer = pd.merge(df_fact_volunteer_applications, df_volunteer_vacancies, left_on='volunteer_vacancies_id', right_on='id', how='left')

# inisialisasi data di df_fact_volunteer_applications
df_fact_volunteer_applications['organization_id'] = df_merge_fact_volunteer['organization_id_y']
df_fact_volunteer_applications

### 3. Fact Volunteer Testimoni

In [ ]:
# Buat Struktur kolom df_fact_volunteer_testimoni
columns = ['id', 'customer_id', 'volunteer_vacancies_id', 'testimoni_volunteer_id', 'rating']
df_fact_volunteer_testimoni = pd.DataFrame(columns=columns)

In [ ]:
# mengisi data pada dari kolom df_application
df_fact_volunteer_testimoni['id'] = range(1, len(df_applications) + 1)
df_fact_volunteer_testimoni['customer_id'] = df_testimoni_volunteers['customer_id']
df_fact_volunteer_testimoni['volunteer_vacancies_id'] = df_testimoni_volunteers['volunteer_id']
df_fact_volunteer_testimoni['testimoni_volunteer_id'] = df_testimoni_volunteers['id']
df_fact_volunteer_testimoni['rating'] = df_testimoni_volunteers['rating']
df_fact_volunteer_applications

### 4. Fact Article Popular

In [ ]:
# Buat Struktur kolom df_fact_articel_popular
columns = ['id', 'article_id', 'comment_id', 'customer_id', 'total_like', 'comment_created_at']
df_fact_article_popular = pd.DataFrame(columns=columns)

In [ ]:
# mengisi data pada dari kolom df_comment
df_fact_article_popular['id'] = range(1, len(df_comments) + 1)
df_fact_article_popular['article_id'] = df_comments['article_id']
df_fact_article_popular['comment_id'] = df_comments['id']
df_fact_article_popular['customer_id'] = df_comments['customer_id']
df_fact_article_popular['total_like'] = df_comments['total_like']
df_fact_article_popular['comment_created_at'] = df_comments['created_at']
df_fact_article_popular

### 5. Fact Bookmark Fundraising

In [ ]:
df_fact_bookmark_fundraising = df_bookmark_fundraising.drop(['deleted_at', 'updated_at'], axis=1)
df_fact_bookmark_fundraising = df_fact_bookmark_fundraising.rename(columns={'id':'bookmark_id'})
df_fact_bookmark_fundraising['id'] = range(1, len(df_fact_bookmark_fundraising) + 1)
df_fact_bookmark_fundraising.insert(0, 'id', df_fact_bookmark_fundraising.pop('id'))
df_fact_bookmark_fundraising

### 6. Fact Bookmark Volunteer Vacancies

In [ ]:
df_fact_bookmark_volunteer_vacancies = df_bookmark_volunteer.drop(['deleted_at', 'updated_at'], axis=1)
df_fact_bookmark_volunteer_vacancies = df_fact_bookmark_volunteer_vacancies.rename(columns={'id':'bookmark_id'})
df_fact_bookmark_volunteer_vacancies['id'] = range(1, len(df_fact_bookmark_volunteer_vacancies) + 1)
df_fact_bookmark_volunteer_vacancies.insert(0, 'id', df_fact_bookmark_volunteer_vacancies.pop('id'))
df_fact_bookmark_volunteer_vacancies

## Tabel Dimensi

In [ ]:
dim_fundraisings = df_fundraisings.drop(['fundraising_categories_id','organization_id','updated_at'], axis=1)

dim_fundraising_categories = df_fundraising_categories[['id','category_name','update_at']]
dim_donation = df_donations.drop(['fundraisings_id', 'customer_id','updated_at'], axis=1)
dim_organization = df_organizations
dim_customer = df_customers
dim_volunteer_applictaion = df_applications.drop(['customer_id','vacancy_id','update_at'], axis=1)
dim_volunteer_vacancies = df_volunteer_vacancies.drop(['organization_id','updated_at'], axis=1)
dim_testimoni_volunteer = df_testimoni_volunteers.drop(['customer_id','volunteer_id','updated_at'], axis=1)
dim_article = df_articles
dim_comment = df_comments.drop(['customer_id','article_id','updated_at'], axis=1)
dim_bookmark_fundraising = df_bookmark_fundraising.drop(['fundraising_id','customer_id','updated_at'], axis=1)
dim_bookmark_volunter_vacancies = df_bookmark_volunteer.drop(['volunteer_vacancies_id','customer_id','updated_at'], axis=1)

# Load

In [ ]:
df_fact_donation_transaction.to_csv("Data_Loaded/Fact/fact_donation_transaction.csv", index=False)
df_fact_volunteer_applications.to_csv("Data_Loaded/Fact/fact_volunteer_applications.csv", index=False)
df_fact_volunteer_testimoni.to_csv("Data_Loaded/Fact/fact_volunteer_testimoni.csv", index=False)
df_fact_article_popular.to_csv("Data_Loaded/Fact/fact_article_popular.csv", index=False)