In [15]:
import pandas as pd
import numpy as np
from IPython.display import display

# 1. Extract Data

In [16]:
df_admin = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/admin.csv')
df_applications = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/applications.csv')
df_article = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/article.csv')
df_comment = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/comment.csv')
df_customer_bookmark_article = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/customer_bookmark_article.csv')
df_customer_bookmark_fundraising = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/customer_bookmark_fundraising.csv')
df_customer_bookmark_volunteer = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/customer_bookmark_volunteer.csv')
df_customers = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/customers.csv')
df_donations = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/donations.csv')
df_fundraising_categories = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/fundraising_categories.csv')
df_fundraisings = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/fundraisings.csv')
df_likes_comment = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/likes_comment.csv')
df_likes_fundraising = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/likes_fundraising.csv')
df_organization = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/organization.csv')
df_testimoni_volunteer = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/testimoni_volunteer.csv')
df_volunteer_vacancies = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/volunteer_vacancies.csv')
df_wish_fundraising = pd.read_csv('D:/Alterra Academy/capstone-project/Data_Engineer/Data_Source(dummy)/wish_fundraising.csv')

# 2. Transform

## 1. FactDonationTransaction

In [17]:
# Buat Struktur kolom df_fact_donation_transaction
columns = ['id', 'donation_id', 'fundraising_id', 'customer_id', 'nominal', 'goal_amount', 'fundraising_categories_id', 'organization_id', 'donation_created_at']
df_fact_donation_transaction = pd.DataFrame(columns=columns)
df_fact_donation_transaction

Empty DataFrame
Columns: [id, donation_id, fundraising_id, customer_id, nominal, goal_amount, fundraising_categories_id, organization_id, donation_created_at]
Index: []

In [18]:
# mengambil data yang sukses di df_donation 
df_donation_success = df_donations.loc[df_donations['status'] == 'success']
df_donation_success = df_donation_success.reset_index(drop=True)
df_donation_success

,id,fundraisings_id,customer_id,nominal,status,payment_url,created_at,updated_at,deleted_at
0,1,10,35,254000,success,http://payment.example.com/5937,2023-05-28 14:22:01,2023-06-14 08:18:42,NaN
1,4,22,29,654000,success,http://payment.example.com/4856,2023-01-22 17:42:19,2023-02-11 10:11:39,NaN
2,7,3,25,45000,success,http://payment.example.com/3850,2022-09-30 10:15:48,2022-10-10 09:57:26,NaN
3,9,14,5,76800,success,http://payment.example.com/7301,2022-10-24 15:29:42,2022-10-31 08:30:15,NaN
4,12,20,26,550000,success,http://payment.example.com/8509,2023-03-12 14:27:36,2023-03-20 09:41:02,NaN
5,15,16,4,460000,success,http://payment.example.com/4903,2023-04-01 11:07:53,2023-04-10 13:20:36,NaN
6,17,13,38,270000,success,http://payment.example.com/7245,2023-01-25 16:15:17,2023-02-03 11:09:52,NaN
7,20,23,50,88000,success,http://payment.example.com/4981,2022-11-07 18:29:57,2022-11-16 14:28:39,NaN
8,23,12,19,74000,success,http://payment.example.com/6513,2023-03-17 15:42:21,2023-03-25 08:30:54,NaN
9,26,15,48,150000,success,http://payment.example.com/3057,2022-11-18 12:49:09,2022-11-28 17:14:32,NaN
10,28,22,1,62000,success,http://payment.example.com/8491,2023-03-05 10:24:12,2023-03-14 11:42:37,NaN

In [19]:
# mengisi data pada dari kolom df_donation
df_fact_donation_transaction['id'] = range(1, len(df_donation_success) + 1)
df_fact_donation_transaction['donation_id'] = df_donation_success['id']
df_fact_donation_transaction['fundraising_id'] = df_donation_success['fundraisings_id']
df_fact_donation_transaction['customer_id'] = df_donation_success['customer_id']
df_fact_donation_transaction['nominal'] = df_donation_success['nominal']
df_fact_donation_transaction['donation_created_at'] = df_donation_success['created_at']
df_fact_donation_transaction

,id,donation_id,fundraising_id,customer_id,nominal,goal_amount,fundraising_categories_id,organization_id,donation_created_at
0,1,1,10,35,254000,NaN,NaN,NaN,2023-05-28 14:22:01
1,2,4,22,29,654000,NaN,NaN,NaN,2023-01-22 17:42:19
2,3,7,3,25,45000,NaN,NaN,NaN,2022-09-30 10:15:48
3,4,9,14,5,76800,NaN,NaN,NaN,2022-10-24 15:29:42
4,5,12,20,26,550000,NaN,NaN,NaN,2023-03-12 14:27:36
5,6,15,16,4,460000,NaN,NaN,NaN,2023-04-01 11:07:53
6,7,17,13,38,270000,NaN,NaN,NaN,2023-01-25 16:15:17
7,8,20,23,50,88000,NaN,NaN,NaN,2022-11-07 18:29:57
8,9,23,12,19,74000,NaN,NaN,NaN,2023-03-17 15:42:21
9,10,26,15,48,150000,NaN,NaN,NaN,2022-11-18 12:49:09
10,11,28,22,1,62000,NaN,NaN,NaN,2023-03-05 10:24:12

In [20]:
# merge df_fundraising
df_merge_fact_fundraising = pd.merge(df_fact_donation_transaction, df_fundraisings, left_on='fundraising_id', right_on='id', how='left')

# inisialisasi data di df_fact_donation_transaction
df_fact_donation_transaction['goal_amount'] = df_merge_fact_fundraising['goal_amount_y']
df_fact_donation_transaction['fundraising_categories_id'] = df_merge_fact_fundraising['fundraising_categories_id_y']
df_fact_donation_transaction['organization_id'] = df_merge_fact_fundraising['organization_id_y']
df_fact_donation_transaction

,id,donation_id,fundraising_id,customer_id,nominal,goal_amount,fundraising_categories_id,organization_id,donation_created_at
0,1,1,10,35,254000,120000,2,10,2023-05-28 14:22:01
1,2,4,22,29,654000,90000,2,22,2023-01-22 17:42:19
2,3,7,3,25,45000,50000,3,3,2022-09-30 10:15:48
3,4,9,14,5,76800,80000,2,14,2022-10-24 15:29:42
4,5,12,20,26,550000,120000,4,20,2023-03-12 14:27:36
5,6,15,16,4,460000,95000,4,16,2023-04-01 11:07:53
6,7,17,13,38,270000,70000,1,13,2023-01-25 16:15:17
7,8,20,23,50,88000,55000,3,23,2022-11-07 18:29:57
8,9,23,12,19,74000,90000,4,12,2023-03-17 15:42:21
9,10,26,15,48,150000,60000,3,15,2022-11-18 12:49:09
10,11,28,22,1,62000,90000,2,22,2023-03-05 10:24:12

## 2. Fact Volunteer Applications

In [21]:
# Buat Struktur kolom df_fact_volunteer_applications
columns = ['id', 'application_id', 'volunteer_vacancies_id', 'customer_id', 'organization_id', 'application_created_at']
df_fact_volunteer_applications = pd.DataFrame(columns=columns)
df_fact_volunteer_applications

Empty DataFrame
Columns: [id, application_id, volunteer_vacancies_id, customer_id, organization_id, application_created_at]
Index: []

In [22]:
# mengisi data pada dari kolom df_application
df_fact_volunteer_applications['id'] = range(1, len(df_applications) + 1)
df_fact_volunteer_applications['application_id'] = df_applications['id']
df_fact_volunteer_applications['volunteer_vacancies_id'] = df_applications['vacancy_id']
df_fact_volunteer_applications['customer_id'] = df_applications['customer_id']
df_fact_volunteer_applications['application_created_at'] = df_applications['create_at']
df_fact_volunteer_applications

,id,application_id,volunteer_vacancies_id,customer_id,organization_id,application_created_at
0,1,1,1,1,NaN,2023-01-01 12:00:00
1,2,2,2,2,NaN,2023-01-02 12:01:00
2,3,3,3,3,NaN,2023-01-03 12:02:00
3,4,4,4,4,NaN,2023-01-04 12:03:00
4,5,5,5,5,NaN,2023-01-05 12:04:00
5,6,6,16,6,NaN,2023-01-06 12:05:00
6,7,7,17,7,NaN,2023-01-07 12:06:00
7,8,8,28,8,NaN,2023-01-08 12:07:00
8,9,9,29,9,NaN,2023-01-09 12:08:00
9,10,10,10,10,NaN,2023-01-10 12:09:00
10,11,11,10,11,NaN,2023-01-11 12:10:00
11,12,12,13,12,NaN,2023-01-12 12:11:00
12,13,13,13,13,NaN,2023-01-13 12:12:00
13,14,14,14,14,NaN,2023-01-14 12:13:00
14,15,15,17,15,NaN,2023-01-15 12:14:00
15,16,16,16,16,NaN,2023-01-16 12:15:00
16,17,17,17,17,NaN,2023-01-17 12:16:00
17,18,18,18,18,NaN,2023-01-18 12:17:00
18,19,19,39,19,NaN,2023-01-19 12:18:00
19,20,20,24,20,NaN,2023-01-20 12:19:00
20,21,21,25,21,NaN,2023-01-21 12:20:00
21,22,22,22,22,NaN,2023-01-22 12:21:00
22,23,23,23,23,NaN,2023-01-23 12:22:00
23,24,24,26,24,NaN,2023-01-24 12:23:00
24,25,25,29,25,NaN,2023-01-25 12:24:00
25,26,26,30,26,NaN,2023-01-26 12:25:00
26,27,27,30,27,NaN,2023-01-27 12:26:00
27,28,28,1,28,NaN,2023-01-28 12:27:00
28,29,29,2,29,NaN,2023-01-29 12:28:00
29,30,30,3,30,NaN,2023-01-30 12:29:00
30,31,31,3,31,NaN,2023-01-31 12:30:00
31,32,32,3,32,NaN,2023-02-01 12:31:00
32,33,33,43,33,NaN,2023-02-02 12:32:00
33,34,34,34,34,NaN,2023-02-03 12:33:00
34,35,35,35,35,NaN,2023-02-04 12:34:00

In [23]:
# merge df_fundraising
df_merge_fact_volunteer = pd.merge(df_fact_volunteer_applications, df_volunteer_vacancies, left_on='volunteer_vacancies_id', right_on='id', how='left')

# inisialisasi data di df_fact_volunteer_applications
df_fact_volunteer_applications['organization_id'] = df_merge_fact_volunteer['organization_id_y']
df_fact_volunteer_applications

,id,application_id,volunteer_vacancies_id,customer_id,organization_id,application_created_at
0,1,1,1,1,21,2023-01-01 12:00:00
1,2,2,2,2,22,2023-01-02 12:01:00
2,3,3,3,3,23,2023-01-03 12:02:00
3,4,4,4,4,24,2023-01-04 12:03:00
4,5,5,5,5,35,2023-01-05 12:04:00
5,6,6,16,6,46,2023-01-06 12:05:00
6,7,7,17,7,49,2023-01-07 12:06:00
7,8,8,28,8,21,2023-01-08 12:07:00
8,9,9,29,9,31,2023-01-09 12:08:00
9,10,10,10,10,47,2023-01-10 12:09:00
10,11,11,10,11,47,2023-01-11 12:10:00
11,12,12,13,12,39,2023-01-12 12:11:00
12,13,13,13,13,39,2023-01-13 12:12:00
13,14,14,14,14,41,2023-01-14 12:13:00
14,15,15,17,15,49,2023-01-15 12:14:00
15,16,16,16,16,46,2023-01-16 12:15:00
16,17,17,17,17,49,2023-01-17 12:16:00
17,18,18,18,18,21,2023-01-18 12:17:00
18,19,19,39,19,44,2023-01-19 12:18:00
19,20,20,24,20,37,2023-01-20 12:19:00
20,21,21,25,21,21,2023-01-21 12:20:00
21,22,22,22,22,23,2023-01-22 12:21:00
22,23,23,23,23,35,2023-01-23 12:22:00
23,24,24,26,24,22,2023-01-24 12:23:00
24,25,25,29,25,31,2023-01-25 12:24:00
25,26,26,30,26,33,2023-01-26 12:25:00
26,27,27,30,27,33,2023-01-27 12:26:00
27,28,28,1,28,21,2023-01-28 12:27:00
28,29,29,2,29,22,2023-01-29 12:28:00
29,30,30,3,30,23,2023-01-30 12:29:00
30,31,31,3,31,23,2023-01-31 12:30:00
31,32,32,3,32,23,2023-02-01 12:31:00
32,33,33,43,33,21,2023-02-02 12:32:00
33,34,34,34,34,35,2023-02-03 12:33:00
34,35,35,35,35,37,2023-02-04 12:34:00

## 3. Fact Volunteer Testimoni

In [24]:
# Buat Struktur kolom df_fact_volunteer_testimoni
columns = ['id', 'customer_id', 'volunteer_vacancies_id', 'testimoni_volunteer_id', 'rating']
df_fact_volunteer_testimoni = pd.DataFrame(columns=columns)
df_fact_volunteer_testimoni

Empty DataFrame
Columns: [id, customer_id, volunteer_vacancies_id, testimoni_volunteer_id, rating]
Index: []

In [25]:
# mengisi data pada dari kolom df_application
df_fact_volunteer_testimoni['id'] = range(1, len(df_applications) + 1)
df_fact_volunteer_testimoni['customer_id'] = df_testimoni_volunteer['customer_id']
df_fact_volunteer_testimoni['volunteer_vacancies_id'] = df_testimoni_volunteer['volunteer_id']
df_fact_volunteer_testimoni['testimoni_volunteer_id'] = df_testimoni_volunteer['id']
df_fact_volunteer_testimoni['rating'] = df_testimoni_volunteer['rating']
df_fact_volunteer_applications

,id,application_id,volunteer_vacancies_id,customer_id,organization_id,application_created_at
0,1,1,1,1,21,2023-01-01 12:00:00
1,2,2,2,2,22,2023-01-02 12:01:00
2,3,3,3,3,23,2023-01-03 12:02:00
3,4,4,4,4,24,2023-01-04 12:03:00
4,5,5,5,5,35,2023-01-05 12:04:00
5,6,6,16,6,46,2023-01-06 12:05:00
6,7,7,17,7,49,2023-01-07 12:06:00
7,8,8,28,8,21,2023-01-08 12:07:00
8,9,9,29,9,31,2023-01-09 12:08:00
9,10,10,10,10,47,2023-01-10 12:09:00
10,11,11,10,11,47,2023-01-11 12:10:00
11,12,12,13,12,39,2023-01-12 12:11:00
12,13,13,13,13,39,2023-01-13 12:12:00
13,14,14,14,14,41,2023-01-14 12:13:00
14,15,15,17,15,49,2023-01-15 12:14:00
15,16,16,16,16,46,2023-01-16 12:15:00
16,17,17,17,17,49,2023-01-17 12:16:00
17,18,18,18,18,21,2023-01-18 12:17:00
18,19,19,39,19,44,2023-01-19 12:18:00
19,20,20,24,20,37,2023-01-20 12:19:00
20,21,21,25,21,21,2023-01-21 12:20:00
21,22,22,22,22,23,2023-01-22 12:21:00
22,23,23,23,23,35,2023-01-23 12:22:00
23,24,24,26,24,22,2023-01-24 12:23:00
24,25,25,29,25,31,2023-01-25 12:24:00
25,26,26,30,26,33,2023-01-26 12:25:00
26,27,27,30,27,33,2023-01-27 12:26:00
27,28,28,1,28,21,2023-01-28 12:27:00
28,29,29,2,29,22,2023-01-29 12:28:00
29,30,30,3,30,23,2023-01-30 12:29:00
30,31,31,3,31,23,2023-01-31 12:30:00
31,32,32,3,32,23,2023-02-01 12:31:00
32,33,33,43,33,21,2023-02-02 12:32:00
33,34,34,34,34,35,2023-02-03 12:33:00
34,35,35,35,35,37,2023-02-04 12:34:00

## 4. Fact Articel Popular

In [26]:
# Buat Struktur kolom df_fact_articel_popular
columns = ['id', 'article_id', 'comment_id', 'customer_id', 'total_like', 'comment_created_at']
df_fact_article_popular = pd.DataFrame(columns=columns)
df_fact_article_popular

Empty DataFrame
Columns: [id, article_id, comment_id, customer_id, total_like, comment_created_at]
Index: []

In [27]:
# mengisi data pada dari kolom df_comment
df_fact_article_popular['id'] = range(1, len(df_comment) + 1)
df_fact_article_popular['article_id'] = df_comment['article_id']
df_fact_article_popular['comment_id'] = df_comment['id']
df_fact_article_popular['customer_id'] = df_comment['customer_id']
df_fact_article_popular['total_like'] = df_comment['total_like']
df_fact_article_popular['comment_created_at'] = df_comment['created_at']
df_fact_article_popular

    id  article_id  comment_id  customer_id  total_like   comment_created_at
0    1           1           1            1          20  2024-05-29 19:36:00
1    2           2           2            2          17  2024-05-29 19:37:00
2    3           3           3            3          35  2024-05-29 19:38:00
3    4           4           4            4          41  2024-05-29 19:39:00
4    5           5           5            5          32  2024-05-29 19:40:00
5    6           6           6            6          11  2024-05-29 19:41:00
6    7           7           7            7          22  2024-05-29 19:42:00
7    8           8           8            8          46  2024-05-29 19:43:00
8    9           9           9            9          33  2024-05-29 19:44:00
9   10          10          10           10          27  2024-05-29 19:45:00
10  11          11          11           11          18  2024-05-29 19:46:00
11  12          12          12           12          17  2024-05-29 19:47:00
12  13          13          13           13          34  2024-05-29 19:48:00
13  14          14          14           14          41  2024-05-29 19:49:00
14  15          15          15           15          37  2024-05-29 19:50:00
15  16          16          16           16          28  2024-05-29 19:51:00
16  17          17          17           17          53  2024-05-29 19:52:00
17  18          18          18           18          37  2024-05-29 19:53:00
18  19          19          19           19          45  2024-05-29 19:54:00
19  20          20          20           20          26  2024-05-29 19:55:00
20  21          21          21           21          66           2024-05-29